$shikon: #581a56;  // 紫紺
$kurenai: #d7003a;
$denim: #1560bd;
$blue: #0000cd;
$black: #373a3c;
$powder-blue: #b0e0e6;
$white: #fff;
$white-smoke: #f5f5f5;
$gray: #808080;
$gold: #b89350;
$code-body: #f8f8f2;
$code-background: #263e52;
$footer-height: 70px;
$latin-font: 'Roboto';
$mono-font: 'Roboto Mono';
$arabic-font: 'Amiri';
$hebrew-font: 'Noto Sans Hebrew';
$jp-font: 'Noto Sans JP';
$ipa-font: 'Source Serif 4';
$romanization-font: 'Source Serif 4';

@font-face {
  font-family: 'mathematical';
  src: url('/static/fonts/MathJax_Main-Regular.otf') format('opentype');
}

html {
  font-size: 100%;
}

.gold {
  color: $gold;
}

body {
  font-family: $latin-font, $jp-font, sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  // font-feature-settings: 'kern' 1, 'liga' 0, 'palt';
  font-feature-settings: 'kern' 1, 'liga' 0;
  font-variant-ligatures: none;
  background-color: $white-smoke;
  text-autospace: normal;
}

:lang(ja) {
  p,
  li {
    mjx-container:not([display])::before {
      display: inline;
      font-family: $jp-font, monospace;
      font-size: 50%;
      font-weight: normal;
      content: ' ';
    }
  }

  span.head > mjx-container:not([display])::before {
    content: '';
  }
}

:lang(ar) {
  font-family: $arabic-font, sans-serif;
}

:lang(arc) {
  font-family: $hebrew-font, sans-serif;
}

:lang(he) {
  font-family: $hebrew-font, sans-serif;
}

.niqqud-placeholder {
  display: inline-block;
  visibility: hidden;
}

em {
  font-family: $latin-font, sans-serif;
  font-style: oblique;

  &.italic {
    font-family: $ipa-font, serif;
    font-style: italic;
    font-weight: normal;
  }
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  color: $white;
  background-color: $gray;
}

.footer {
  padding-top: 23px;
  font-size: 1rem;
  font-weight: 300;
}

.bottom-element {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

section {
  padding-bottom: 30px;

  section {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

.navbar {
  &-dark {
    background-color: $shikon;
  }

  &-brand {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &-nav {
    .separator {
      padding: 0 0.5rem;
      font-size: 1rem;
      color: $white;
      vertical-align: middle;
      pointer-events: none;
    }
  }
}

.nav-link {
  font-size: 1.2rem;
}

figure {
  margin-top: 40px;
  margin-bottom: 40px;

  figcaption {
    padding-bottom: 10px;
    color: $black;
    text-align: center;
    caption-side: top;
  }

  img {
    max-width: 100%;
    height: auto;
    background-color: $powder-blue;

    &.pseudocode {
      min-width: 380px;
      background-color: $white;
    }
  }

  &.blockquote {
    padding: 3px 15px;
    margin: 40px 2px;
    border-left: 4px solid #ccc;
  }

  &.centered {
    margin-bottom: 50px;
    text-align: center;
  }

  &.material {
    margin-top: 0;
    margin-bottom: 0;

    figcaption {
      margin-top: 20px;
    }
  }
}

ol.citation {
  counter-reset: n;

  li {
    position: relative;
    list-style: none;

    &::before {
      position: absolute;
      left: -2.1rem;
      content: '[' counter(n) ']';
      counter-increment: n;
    }
  }
}

.math {
  &item {
    font-family: 'mathematical', serif;
    font-size: 119.5%;
    font-feature-settings: 'palt';
  }

  &-keyword {
    font-weight: bold;
  }

  &-book {
    padding-bottom: 0;

    a {
      color: $black;
    }

    cite {
      margin-right: 0.5rem;

      &:lang(en) {
        font-family: $latin-font, sans-serif;
        font-style: oblique;
      }

      &:lang(ja) {
        font-style: normal;
      }
    }

    i.fa-bookmark {
      margin-right: 0.25rem;
      color: $denim;
    }
  }
}

ol.math {
  padding-left: 1rem;
  margin-bottom: 0;
  counter-reset: m;

  li {
    position: relative;
    margin: 1.8ex;
    list-style: none;

    &::before {
      position: relative;
      padding-right: 1rem;
      font-family: 'mathematical', serif;
      font-size: 119.5%;
      // content: '(' counter(m) ')';
      counter-increment: m;
    }

    &.s::before { content: '(s' counter(m) ')'; }
    &.p::before { content: '(p' counter(m) ')'; }
    &.d::before { content: '(d' counter(m) ')'; }
    &.parentheses::before { content: '(' counter(m) ')'; }
    &.prime::before { content: '(' counter(m) 'ʹ)'; }
    &.capc::before { content: '(C' counter(m) ')'; }
    &.parentheses4::before { content: '(4)'; }
    &.parentheses5::before { content: '(5)'; }
    &.lower-roman::before { content: '(' counter(m, lower-roman) ')'; }
    &.upper-roman::before { content: '(' counter(m, upper-roman) ')'; }
  }
}

th {
  text-align: center;
  vertical-align: middle;
}

.interlinear-gloss {
  padding-bottom: 25px;

  p {
    margin: 0.75rem 0;
  }

  table {
    width: auto;
    padding: 0;
    margin: 0;
    table-layout: auto;

    caption {
      text-align: left;
      caption-side: top;
    }

    tr {
      line-height: 1.1;

      td[dir='rtl'] {
        text-align: right;
      }
    }
  }
}

ol.narrow {
  li {
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
  }
}

figcaption.blockquote-footer {
  &::before {
    content: '';
  }

  font-size: 100%;
  color: inherit;
  text-align: right;
}

.profile {
  text-align: center;

  figure {
    margin-top: 0;
    margin-bottom: 0;

    img {
      max-width: 250px;
    }

    figcaption {
      margin-top: 20px;
    }
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      text-align: center;

      i {
        padding: 5px;
      }
    }
  }
}

main {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.uri {
  font-family: $mono-font, monospace;
  word-break: break-all;
}

.monospace {
  font-family: $mono-font, monospace;
}

code {
  padding: 2px 5px;
  margin: 0;
  font-family: $mono-font, $jp-font, monospace;
  font-size: 85%;
  color: $code-body;
  background-color: $code-background;
  border-radius: 3px;

  &[class*='language-'] {
    font-family: $mono-font, monospace;
  }
}

pre {
  max-height: 50em;
  overflow: auto;

  &[class*='language-'] {
    font-family: $mono-font, monospace;
    border-radius: 3px;
  }

  code {
    padding: 0;
  }
}

.info {
  padding-bottom: 9ex;
}

kbd {
  font-size: 85%;
  color: $code-body;
  background-color: $code-background;
  border-radius: 3px;
}

.russian {
  font-family: $latin-font, sans-serif;
}

.ipa {
  font-family: $ipa-font, serif;
}

.romanization {
  font-family: $romanization-font, sans-serif;
}

.lig {
  margin-right: 0.1em;
  letter-spacing: -0.1em;
}

.grammar {
  font-family: $latin-font, serif;
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

.widespace {
  letter-spacing: 0.2rem;
}

.serif {
  font-family: 'Times New Roman', 'Times', serif;
}

h3.math,
h4.math,
h5.math {
  font-weight: bold;
}

.statement {
  width: 100%;
  padding: 18px;
  margin-top: 25px;
  margin-bottom: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.marker {
  width: 300px;
  background: linear-gradient(transparent 50%, yellow);
}

.toc {
  &-title {
    font-weight: bold;
    text-align: center;
  }

  &-container {
    display: table;
    width: auto;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 60px;
    margin-bottom: 9px;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 5px;

    ol {
      padding-right: 2rem;
      padding-left: 1.5rem;
      counter-reset: item;

      li {
        list-style: none;
        counter-increment: item;

        &::before {
          padding-right: 10px;
          content: counter(item);
        }

        ol {
          padding-left: 1.5rem;

          li {
            &::before {
              padding-right: 10px;
              content: counters(item, '.') ' ';
            }
          }
        }
      }
    }
  }
}

blockquote.quotation {
  position: relative;
  padding: 1rem 3.3rem 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-left: 8px solid $gray;

  &::before {
    position: absolute;
    top: -18px;
    left: 10px;
    font-family: $ipa-font, serif;
    font-size: 4rem;
    color: $gray;
    content: '“';
  }

  &::after {
    content: '';
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.me {
  text-decoration: underline;
}

.bib {
  text-indent: 0;
}

.character-toggle-button {
  display: inline-flex; // ルビ含めて整列
  gap: 0.25rem;
  align-items: baseline; // 高さ揃え（重要）
  font: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
}

.item-header {
  display: grid;
  grid-template-columns: 5rem 1fr auto;  // label, value, chevron;
  column-gap: 0.5rem;
  align-items: baseline;
  padding: 0.5rem 0;
  border: none;

  .label {
    white-space: nowrap;
  }

  .value {
    // 左寄せされる
    line-height: 1.4;
  }
}
