$shikon: #581a56;  // 紫紺
$denim: #1560bd;
$blue: #0000cd;
$black: #373a3c;
$powder-blue: #b0e0e6;
$white: #fff;
$white-smoke: #f5f5f5;
$gray: #808080;
$code-body: #f8f8f2;
$code-background: #263e52;
$footer-height: 70px;
$western-font: 'Roboto';
$jp-font: 'Noto Sans JP';
$ipa-font: 'Judson';
$arabic-font: 'Amiri';
$mono-font: 'Roboto Mono';

html {
  font-size: 100%;
}

body {
  font-family: $western-font, $jp-font, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-feature-settings: 'kern' 1, 'palt';  // 'palt' is not valid for Noto Sans JP
  font-feature-settings: 'liga' 0;
  font-variant-ligatures: none;
  background-color: $white-smoke;
}

cite,
em {
  font-family: $western-font, sans-serif;
  font-style: oblique;
}

:lang(ar) {
  font-family: $arabic-font, $western-font, $jp-font, sans-serif;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  color: $white;
  background-color: $gray;
}

.footer {
  padding-top: 23px;
  font-size: 1rem;
  font-weight: 300;
}

.bottom-element {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

section {
  padding-bottom: 18px;

  h2 {
    margin-top: 30px;
  }

  section {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

.navbar-dark {
  background-color: $shikon;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

figure {
  margin-top: 40px;
  margin-bottom: 40px;

  &.centered {
    margin-bottom: 50px;
    text-align: center;
  }

  figcaption {
    padding-bottom: 10px;
    color: $black;
    text-align: center;
    caption-side: top;
  }

  img {
    max-width: 100%;
    height: auto;
    background-color: $powder-blue;

    &.pseudocode {
      min-width: 380px;
      background-color: $white;
    }
  }
}

ol.bracket {
  margin: 0;
  counter-reset: oln;

  li {
    position: relative;
    list-style: none;

    &::before {
      position: absolute;
      left: -1.4em;
      content: '[' counter(oln) '] ';
      counter-increment: oln;
    }
  }
}

ol.math {
  li {
    position: relative;

    &::before {
      padding-right: 1em;
      font-weight: bold;
    }
  }
}

figure.blockquote {
  padding: 3px 15px;
  margin: 40px 2px;
  border-left: 4px solid #ccc;
}

figcaption.blockquote-footer {
  &::before {
    content: '';
  }

  font-size: 100%;
  color: inherit;
  text-align: right;
}

.profile {
  text-align: center;

  figure {
    margin-top: 0;
    margin-bottom: 0;

    img {
      max-width: 250px;
    }

    figcaption {
      margin-top: 20px;
    }
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      text-align: center;

      i {
        padding: 5px;
      }
    }
  }
}

main {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

th {
  text-align: center;
  vertical-align: middle;
}

.uri {
  font-family: $mono-font, monospace;
  word-break: break-all;
}

.monospace {
  font-family: $mono-font, monospace;
}

.quarter {
  &::after {
    display: inline;
    font-family: $jp-font, monospace;
    letter-spacing: -0.1rem;
    content: ' ';
  }
}

.half {
  &::after {
    display: inline;
    font-family: $jp-font, monospace;
    content: ' ';
  }
}

code {
  padding: 2px 5px;
  margin: 0;
  font-family: $mono-font, $jp-font, monospace;
  font-size: 85%;
  color: $code-body;
  background-color: $code-background;
  border-radius: 3px;

  &[class*='language-'] {
    font-family: $mono-font, monospace;
  }

  .quarter,
  .half {
    display: none;
  }
}

pre {
  max-height: 50em;
  overflow: auto;

  &[class*='language-'] {
    font-family: $mono-font, monospace;
    border-radius: 3px;
  }

  .quarter,
  .half {
    display: none;
  }

  code {
    padding: 0;
  }
}

.info {
  padding-bottom: 6ex;
}

kbd {
  font-size: 85%;
  color: $code-body;
  background-color: $code-background;
  border-radius: 3px;

  .quarter,
  .half {
    display: none;
  }
}

samp {
  .quarter,
  .half {
    display: none;
  }
}

ol > .quarter,
ul > .quarter,
ol > .half,
ul > .half {
  display: none;
}

.russian {
  font-family: $western-font, serif;
}

.ipa {
  font-family: $ipa-font, serif;
}

.lig {
  margin-right: 0.1em;
  letter-spacing: -0.1em;
}

.grammar {
  font-family: $western-font, serif;
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

.widespace {
  letter-spacing: 0.2rem;
}

.serif {
  font-family: 'Times New Roman', 'Times', serif;
}

.toc-container {
  display: table;
  width: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 60px;
  margin-bottom: 9px;
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  border-radius: 5px;

  ol {
    padding-right: 2em;
    padding-left: 3em;
  }

  li ol {
    padding-left: 2em;
  }
}

.toc-title {
  font-weight: bold;
  text-align: center;
}

.me {
  text-decoration: underline;
}
