{% extends 'nunjucks/_layout/_article.njk' %}
{% set lang = 'ja' %}
{% set mathematical = 'true' %}
{% set title = 'aa' %}
{% set posted = '2023-03-19' %}

{% block post %}
<section>
<p>
\begin{align*}
  h_1 =
  \begin{pmatrix}
    1 \\
    0 \\
    0
  \end{pmatrix},
  \quad
  h_2 =
  \begin{pmatrix}
    \displaystyle \sin \frac{\pi}{4} \cos\frac{\pi}{12} \\[3pt]
    \displaystyle \sin \frac{\pi}{4} \sin\frac{\pi}{12} \\[3pt]
    \displaystyle \cos \frac{\pi}{4}
  \end{pmatrix},\quad
  h_3 =
  \begin{pmatrix}
    \displaystyle \sin \frac{\pi}{6} \cos\frac{\pi}{3} \\[3pt]
    \displaystyle \sin \frac{\pi}{6} \sin\frac{\pi}{3} \\[3pt]
    \displaystyle \cos \frac{\pi}{3}
  \end{pmatrix},\quad
  h_4 =
  \begin{pmatrix}
    0 \\
    0 \\
    1
  \end{pmatrix}.
\end{align*}
<figure class="centered">
  <img src="/static/images/3d.svg" style="background-color: transparent; width: 100%; height: auto; max-width: 700px; margin-bottom: 30px;">
  <figcaption><strong>図 1：</strong>ぽえぽえ</figcaption>
</figure>
\(H = \begin{pmatrix} h_1 &amp; h_2 &amp; h_3 &amp;  h_4\end{pmatrix}\)
と定義する．
\begin{align*}
  H^\top H
  &amp; =
    \begin{pmatrix}
      h_1 \cdot h_1 &amp; h_1 \cdot h_2 &amp; h_1 \cdot h_3 &amp; h_1 \cdot h_4 \\
      h_2 \cdot h_1 &amp; h_2 \cdot h_2 &amp; h_2 \cdot h_3 &amp; h_2 \cdot h_4 \\
      h_3 \cdot h_1 &amp; h_3 \cdot h_2 &amp; h_3 \cdot h_3 &amp; h_3 \cdot h_4 \\
      h_4 \cdot h_1 &amp; h_4 \cdot h_2 &amp; h_4 \cdot h_3 &amp; h_4 \cdot h_4
    \end{pmatrix} \\[3pt]
  &amp;=
    \begin{pmatrix}
      1 &amp; \displaystyle \frac{\sqrt{3} + 1}{4} &amp; \displaystyle \frac{1}{4} &amp; 0 \\[3pt]
      \displaystyle \frac{\sqrt{3} + 1}{4} &amp; 1 &amp; \displaystyle \frac{\sqrt{6} + 1}{4} &amp; \displaystyle \frac{\sqrt{2}}{2} \\[3pt]
      \displaystyle \frac{1}{4} &amp; \displaystyle \frac{\sqrt{6} + 1}{4} &amp; 1 &amp; \displaystyle \frac{\sqrt{3}}{2} \\[3pt]
      0 &amp; \displaystyle \frac{\sqrt{2}}{2} &amp; \displaystyle \frac{\sqrt{3}}{2} &amp; 1
    \end{pmatrix} \\
\end{align*}
</p>
行ごとに
\(\softmax\)
を適用する関数を
\(\softmax\)
と書くことにすると，
\begin{align}
  \softmax H^\top H \approx
    \begin{pmatrix}
      .389 &amp; .284 &amp; .184 &amp; .143 \\
      .218 &amp; .298 &amp; .260 &amp; .222 \\
      .147 &amp; .271 &amp; .311 &amp; .272 \\
      .088 &amp; .178 &amp; .496 &amp; .238
    \end{pmatrix}
\end{align}
<figure class="centered">
  <img src="/static/images/heatmap-att.svg" style="background-color: transparent; width: 100%; height: auto; max-width: 700px; margin-bottom: 30px;">
  <figcaption><strong>図 1：</strong>ぽえぽえ</figcaption>
</figure>
</section>
{% endblock %}
