{% extends '_layout/_layout.njk' %}

{% block content %}
<article>
  <div class="container">
    <div class="container">
      <h1>{{ title }}</h1>
      <div class="info text-muted">
        Posted: {{ posted }}
        {% if modified %}
          (Modified: {{ modified }})
        {% endif %}
      </div>
      {% block post %}
      {% endblock %}
    </div>
  <div>
</article>
{% endblock %}
