<!DOCTYPE html>
<html class="cjk">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@pecorarista">
      <meta name="twitter:title" content="{{ title + ' — pecorarista.com' }}">
      <meta name="twitter:description" content="{{ description }}">
      <meta name="twitter:image" content="https://pecorarista.com/static/images/avatar.png">
      <link rel="icon" href="/favicon.ico">
      {% include '_layout/_styles.njk' %}
   </head>
   <body>
      <div class="wrapper">
         <header>
           {% include '_layout/_navbar.njk' %}
         </header>
         <main>
           {% block content %}
           {% endblock %}
         </main>
         <footer>
           {% include '_layout/_footer.njk' %}
         </footer>
           {% include '_layout/_scripts.njk' %}
      </div>
   </body>
</html>
