<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pecorarista">
    <meta name="twitter:title" content="{{ title + ' — pecorarista.com' }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://pecorarista.com/static/images/avatar.png">
    <link rel="icon" href="/favicon.ico">
    {% include '_layout/_styles.njk' %}
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include '_layout/_navbar.njk' %}
      </header>
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <footer>
        {% include '_layout/_footer.njk' %}
      </footer>
      {% include '_layout/_scripts.njk' %}
      {% if mathematical %}
        <script type="text/javascript" id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
        <script>
          MathJax = {
            loader: {
              load: [
                '[tex]/cases',
                '[tex]/empheq'
              ]
            },
            tex: {
              packages: {
                '[+]': [
                  'empheq',
                  'cases'
                ]
              },
              autoload: {
                cases: [[], ['numcases', 'subnumcases']]
              },
              macros: {
                parentheses: ["\\left(#1\\right)", 1],
                brackets: ["\\left[#1\\right]", 1],
                norm: ["\\left\\|#1\\right\\|", 1],
                abs: ["\\left|#1\\right|", 1],
                diag: "\\mathop{\\rm diag}",
                nn: "\\mathop{\\rm NN}",
                ff: "\\mathop{\\rm FF}",
                minimize: "\\mathop{\\rm minimize}",
                res: "\\mathop{\\rm Res}",
                real: "\\mathop{\\rm Re}",
                trace: "\\mathop{\\rm tr}",
                relu: "\\mathop{\\rm ReLU}",
                id: "\\mathop{\\rm id}",
                imaginary: "\\mathop{\\rm Im}"
              },
              tags: 'ams',
            }
          };
        </script>
      {% endif %}
    </div>
  </body>
</html>
