<nav class="navbar navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">pecorarista.com</a>

    <div class="navbar-nav ms-auto d-flex flex-md-row flex-column align-items-md-center">
      <a class="nav-link active" href="/fictional-works">Fictional Works</a>
      <span class="separator d-none d-md-inline">&#10022;</span>
      <a class="nav-link active" href="/technical-notes">Technical Notes</a>
    </div>
  </div>
</nav>
