<script src="https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.15/dist/bootstrap-native-v4.min.js"></script>
<script src="/static/js/prism.js"></script>
<script src="/static/js/prism-bash.min.js"></script>
<script src="/static/js/prism-latex.min.js"></script>
<script src="/static/js/prism-makefile.min.js"></script>
<script src="/static/js/prism-java.min.js"></script>
<script src="/static/js/prism-javascript.min.js"></script>
<script src="/static/js/prism-scala.min.js"></script>
<script src="/static/js/prism-markdown.min.js"></script>
<script src="/static/js/prism-apacheconf.min.js"></script>
<script src="/static/js/prism-perl.min.js"></script>
<script src="/static/js/prism-haskell.min.js"></script>
<script src="/static/js/prism-lua.min.js"></script>
<script src="https://kit.fontawesome.com/30a99ec99f.js" crossorigin="anonymous"></script>
<script src="/static/js/main.js"></script>
