@font-face {
  font-family: "mathematical";
  src: url("/static/fonts/MathJax_Main-Regular.otf") format("opentype");
}
html {
  font-size: 100%;
}

body {
  font-family: "Roboto", "source-han-sans-japanese", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-feature-settings: "kern" 1, "liga" 0, "palt";
  font-variant-ligatures: none;
  background-color: #f5f5f5;
}

:lang(ja) p mjx-container:not([display])::before,
:lang(ja) li mjx-container:not([display])::before {
  display: inline;
  font-family: "source-han-sans-japanese", monospace;
  font-size: 50%;
  font-weight: normal;
  content: " ";
}
:lang(ja) span.head > mjx-container:not([display])::before {
  content: "";
}

em {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
}

div.math-book a {
  color: #373a3c;
}
div.math-book cite:lang(en) {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
}
div.math-book cite:lang(ja) {
  font-style: normal;
}
div.math-book i.fa-bookmark {
  margin-right: 0.5rem;
  color: #1560bd;
}

:lang(ar) {
  font-family: "Amiri", "Roboto", "source-han-sans-japanese", sans-serif;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: #808080;
}

.footer {
  padding-top: 23px;
  font-size: 1rem;
  font-weight: 300;
}

.bottom-element {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

section {
  padding-bottom: 30px;
}
section section {
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar-dark {
  background-color: #581a56;
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

figure {
  margin-top: 40px;
  margin-bottom: 40px;
}
figure.centered {
  margin-bottom: 50px;
  text-align: center;
}
figure figcaption {
  padding-bottom: 10px;
  color: #373a3c;
  text-align: center;
  caption-side: top;
}
figure img {
  max-width: 100%;
  height: auto;
  background-color: #b0e0e6;
}
figure img.pseudocode {
  min-width: 380px;
  background-color: #fff;
}

ol.citation {
  counter-reset: n;
}
ol.citation li {
  position: relative;
  list-style: none;
}
ol.citation li::before {
  position: absolute;
  left: -2.1rem;
  content: "[" counter(n) "]";
  counter-increment: n;
}

strong.with-space {
  margin-right: 0.5rem;
}

.mathitem {
  font-family: "mathematical", serif;
  font-size: 119.5%;
  font-feature-settings: "palt";
}

ol.math {
  padding-left: 1rem;
  counter-reset: m;
}
ol.math li {
  position: relative;
  margin: 1.8ex;
  list-style: none;
}
ol.math li::before {
  position: relative;
  padding-right: 1rem;
  font-family: "mathematical", serif;
  font-size: 119.5%;
  counter-increment: m;
}

ol.narrow li {
  margin-top: 0.5ex;
  margin-bottom: 0.5ex;
}

ol.math li.s::before {
  content: "(s" counter(m) ")";
}

ol.math li.capsw::before {
  content: "(SW" counter(m) ")";
}

ol.math li.p::before {
  content: "(p" counter(m) ")";
}

ol.math li.d::before {
  content: "(d" counter(m) ")";
}

ol.math li.alphabetical::before {
  content: "(" counter(m, lower-latin) ")";
}

ol.math li.capc::before {
  content: "(C" counter(m) ")";
}

ol.math li.capc3::before {
  content: "(C3)";
}

ol.math li.capa::before {
  content: "(A" counter(m) ")";
}

ol.math li.capa4::before {
  content: "(A4)";
}

ol.math li.capa5::before {
  content: "(A5)";
}

ol.math li.capn::before {
  content: "(N" counter(m) ")";
}

ol.math li.capn4::before {
  content: "(N4)";
}

ol.math li.capn5::before {
  content: "(N5)";
}

ol.math li.roman::before {
  content: "(" counter(m, lower-roman) ")";
}

figure.blockquote {
  padding: 3px 15px;
  margin: 40px 2px;
  border-left: 4px solid #ccc;
}

figcaption.blockquote-footer {
  font-size: 100%;
  color: inherit;
  text-align: right;
}
figcaption.blockquote-footer::before {
  content: "";
}

.profile {
  text-align: center;
}
.profile figure {
  margin-top: 0;
  margin-bottom: 0;
}
.profile figure img {
  max-width: 250px;
}
.profile figure figcaption {
  margin-top: 20px;
}
.profile ul {
  padding: 0;
}
.profile ul li {
  display: inline-block;
  text-align: center;
}
.profile ul li i {
  padding: 5px;
}

main {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

th {
  text-align: center;
  vertical-align: middle;
}

.uri {
  font-family: "Roboto Mono", monospace;
  word-break: break-all;
}

.monospace {
  font-family: "Roboto Mono", monospace;
}

.quarter::after {
  display: inline;
  font-family: "source-han-sans-japanese", monospace;
  font-size: 50%;
  content: " ";
}

.half::after {
  display: inline;
  font-family: "source-han-sans-japanese", monospace;
  font-weight: normal;
  content: " ";
}

code {
  padding: 2px 5px;
  margin: 0;
  font-family: "Roboto Mono", "source-han-sans-japanese", monospace;
  font-size: 85%;
  color: #f8f8f2;
  background-color: #263e52;
  border-radius: 3px;
}
code[class*=language-] {
  font-family: "Roboto Mono", monospace;
}
code .quarter,
code .half {
  display: none;
}

pre {
  max-height: 50em;
  overflow: auto;
}
pre[class*=language-] {
  font-family: "Roboto Mono", monospace;
  border-radius: 3px;
}
pre .quarter,
pre .half {
  display: none;
}
pre code {
  padding: 0;
}

.info {
  padding-bottom: 9ex;
}

kbd {
  font-size: 85%;
  color: #f8f8f2;
  background-color: #263e52;
  border-radius: 3px;
}
kbd .quarter,
kbd .half {
  display: none;
}

samp .quarter,
samp .half {
  display: none;
}

ol > .quarter,
ul > .quarter,
ol > .half,
ul > .half {
  display: none;
}

.russian {
  font-family: "Roboto", serif;
}

.ipa {
  font-family: "Judson", serif;
}

.lig {
  margin-right: 0.1em;
  letter-spacing: -0.1em;
}

.grammar {
  font-family: "Roboto", serif;
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

.widespace {
  letter-spacing: 0.2rem;
}

.serif {
  font-family: "Times New Roman", "Times", serif;
}

h3.math,
h4.math,
h5.math {
  font-weight: bold;
}

.toc-container {
  display: table;
  width: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 60px;
  margin-bottom: 9px;
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.toc-container ol {
  padding-right: 2rem;
  padding-left: 1.5rem;
  counter-reset: item;
}
.toc-container ol li {
  list-style: none;
  counter-increment: item;
}
.toc-container ol li::before {
  padding-right: 10px;
  content: counter(item);
}
.toc-container ol li ol {
  padding-left: 1.5rem;
}
.toc-container ol li ol li::before {
  padding-right: 10px;
  content: counters(item, ".") " ";
}

.toc-title {
  font-weight: bold;
  text-align: center;
}

.me {
  text-decoration: underline;
}

.bib {
  text-indent: 0;
}

/*# sourceMappingURL=main.css.map */
