{% extends 'nunjucks/_layout/_layout.njk' %}
{% set lang = 'ja' %}
{% set title = '名前の由来' %}

{% block content %}
<article>
  <h1>オリジナルキャラクターの名前の由来について</h1>
  <div class="info">
  </div>
  <section>
    <h2>1. <ruby>天奈<rt>あまな</rt></ruby>レティア</h2>
    <section>
      <h3>姓の由来</h3>
      <section>
        <p>当初は「サキュバスだからみんなから愛されているだろう」ということで「愛されている」という意味のイタリア語
        <span lang="it">amata</span> やスペイン語
        <span lang="es">amada</span> からとって天田や甘田とするつもりでした。しかしこれらは実在するためファンタジー感が薄く感じられました。そこで後ろを少し変えて
        Amana
        や
        Amane
        のように変えようと考えました。最終的に
        Amana
        としたのは、響きがよく、また女性の悪魔ナアマ
        <span lang="he" dir="rtl">&#1504;&#1506;&#1502;&#1492;</span> (naama)のアナグラムになっているからです。ナアマはゾーハルでは悪霊の母として描かれています。</p>
        <div class="container mt-4">
          <div class="d-flex flex-column flex-md-row align-items-start gap-4 mb-4">
            <div class="flex-grow-1">
              <div class="interlinear-gloss">
                {% include 'nunjucks/_include/zohar-gloss-1.html' %}
              </div>
            </div>

            <div style="width: 400px;">
              {% include 'nunjucks/_include/zohar-vocab-1.html' %}
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-start gap-4 mb-4">
            <div class="flex-grow-1">
              <div class="interlinear-gloss">
                {% include 'nunjucks/_include/zohar-gloss-2.html' %}
              </div>
            </div>

            <div style="width: 400px;">
              {% include 'nunjucks/_include/zohar-vocab-2.html' %}
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row align-items-start gap-4 mb-4">
            <div class="flex-grow-1">
              <div class="interlinear-gloss">
                {% include 'nunjucks/_include/zohar-gloss-3.html' %}
              </div>
            </div>

            <div style="width: 400px;">
              {% include 'nunjucks/_include/zohar-vocab-3.html' %}
            </div>
          </div>
        </div>
      </section>
      <h3>名の由来</h3>
      <section>
      </section>
    </section>
  </section>
  <section id="materials">
    <h2>参考文献</h2>
    <ul>
      <li>
        <a href="https://www.cambridge.org/highereducation/books/biblical-aramaic-and-related-dialects/5F79B5258F1E8F157F195E243458A750"><em>Biblical Aramaic and Related Dialects: An Introduction</em><br></a>
        Cook, Edward (2022). Cambridge University Press.
      </li>
    </ul>
  </section>
</article>
{% endblock %}
