<ul><li><span class="russian">бесконечный</span><span class="widespace"> </span><span class="ipa">/bʲɪskɐˈnʲe<span class="lig">tɕ</span>nɨj/</span><span class="widespace"> </span><span class="grammar">adj</span><span class="widespace"> </span><span class="translation">無限の、いつ終わるかわからない</span><span class="widespace"> </span><span class="grammar">sg masc nom</span></li><li><span class="russian">бег</span><span class="widespace"> </span><span class="ipa">/ˈbʲek/</span><span class="widespace"> </span><span class="grammar">masc inan</span><span class="widespace"> </span><span class="translation">道</span><span class="widespace"> </span><span class="grammar">sg nom</span></li></ul>
