
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Symbol</th><th>Name</th><th>Vim</th><th>TIPA</th><th>Compose</th><th>X-SAMPA</th>
        </tr>
      </thead>
    <tr>
        <td class="ipa">
          ɐ
        </td>
        <td>
          Turned A
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textturna<br/>5
        </td>
        <td>
            <kbd>a</kbd> <kbd>a</kbd>
        </td>
        <td>
          <kbd>6</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɑ
        </td>
        <td>
          Script A
        </td>
        <td>
          
        </td>
        <td class="monospace">
          A
        </td>
        <td>
            
        </td>
        <td>
          <kbd>A</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          æ
        </td>
        <td>
          Ash
        </td>
        <td>
          <kbd>a</kbd> <kbd>e</kbd>
        </td>
        <td class="monospace">
          \ae
        </td>
        <td>
            <kbd>a</kbd> <kbd>e</kbd>
        </td>
        <td>
          <kbd>{</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʌ
        </td>
        <td>
          Turned V
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textturnv<br/>2
        </td>
        <td>
            <kbd>v</kbd> <kbd>v</kbd>
        </td>
        <td>
          <kbd>V</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɓ
        </td>
        <td>
          Hooktop B
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \texthtb
        </td>
        <td>
            <kbd>b</kbd> <kbd>'</kbd>
        </td>
        <td>
          <kbd>b</kbd> <kbd>_</kbd> <kbd>&lt;</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʙ
        </td>
        <td>
          Small capital B
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textscb
        </td>
        <td>
            <kbd>b</kbd> <kbd>`</kbd>
        </td>
        <td>
          <kbd>B</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          β
        </td>
        <td>
          Greek beta
        </td>
        <td>
          <kbd>*</kbd> <kbd>b</kbd>
        </td>
        <td class="monospace">
          \textbetaB
        </td>
        <td>
            <kbd>*</kbd> <kbd>b</kbd>
        </td>
        <td>
          <kbd>B</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ç
        </td>
        <td>
          C cedilla
        </td>
        <td>
          <kbd>c</kbd> <kbd>,</kbd>
        </td>
        <td class="monospace">
          \c{c}
        </td>
        <td>
            <kbd>c</kbd> <kbd>,</kbd>
        </td>
        <td>
          <kbd>C</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɕ
        </td>
        <td>
          Curly-tail C
        </td>
        <td>
          
        </td>
        <td class="monospace">
          C
        </td>
        <td>
            
        </td>
        <td>
          <kbd>s</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɗ
        </td>
        <td>
          Hooktop D
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \texthtd
        </td>
        <td>
            <kbd>d</kbd> <kbd>'</kbd>
        </td>
        <td>
          <kbd>d</kbd> <kbd>_</kbd> <kbd>&lt;</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɖ
        </td>
        <td>
          Right-tail D
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textrtaild
        </td>
        <td>
            <kbd>d</kbd> <kbd>,</kbd>
        </td>
        <td>
          <kbd>d</kbd> <kbd>`</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ð
        </td>
        <td>
          Eth
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \dhD
        </td>
        <td>
            <kbd>d</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>D</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ə
        </td>
        <td>
          Schwa
        </td>
        <td>
          
        </td>
        <td class="monospace">
          @
        </td>
        <td>
            <kbd>e</kbd> <kbd>e</kbd>
        </td>
        <td>
          <kbd>@</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɛ
        </td>
        <td>
          Latin epsilon
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textepsilonE
        </td>
        <td>
            <kbd>e</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>E</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɡ
        </td>
        <td>
          Script G
        </td>
        <td>
          
        </td>
        <td class="monospace">
          g
        </td>
        <td>
            <kbd>g</kbd> <kbd>g</kbd>
        </td>
        <td>
          <kbd>g</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɢ
        </td>
        <td>
          Small capital G
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textscg
        </td>
        <td>
            <kbd>g</kbd> <kbd>`</kbd>
        </td>
        <td>
          <kbd>G</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɣ
        </td>
        <td>
          Latin gamma
        </td>
        <td>
          
        </td>
        <td class="monospace">
          G
        </td>
        <td>
            <kbd>g</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>G</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɤ
        </td>
        <td>
          Ram’s horns
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textramshorns<br/>7
        </td>
        <td>
            <kbd>o</kbd> <kbd>g</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>7</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɦ
        </td>
        <td>
          Hooktop H
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \texthth
        </td>
        <td>
            <kbd>h</kbd> <kbd>'</kbd>
        </td>
        <td>
          <kbd>h</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ħ
        </td>
        <td>
          Crossed H
        </td>
        <td>
          <kbd>/</kbd> <kbd>h</kbd>
        </td>
        <td class="monospace">
          \textcrh
        </td>
        <td>
            <kbd>/</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>X</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɥ
        </td>
        <td>
          Turned H
        </td>
        <td>
          <kbd>n</kbd> <kbd>g</kbd>
        </td>
        <td class="monospace">
          \textturnh
        </td>
        <td>
            <kbd>h</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd></kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɨ
        </td>
        <td>
          Barred I
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textbari
        </td>
        <td>
            <kbd>/</kbd> <kbd>i</kbd>
        </td>
        <td>
          
        </td>
      </tr><tr>
        <td class="ipa">
          ŋ
        </td>
        <td>
          Eng
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \ng
        </td>
        <td>
            <kbd>n</kbd> <kbd>g</kbd>
        </td>
        <td>
          <kbd>N</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɳ
        </td>
        <td>
          Right-tail N
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textrtailn
        </td>
        <td>
            <kbd>ɳ</kbd>
        </td>
        <td>
          <kbd>n</kbd> <kbd>`</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɴ
        </td>
        <td>
          Small capital N
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textscn
        </td>
        <td>
            <kbd>n</kbd> <kbd>`</kbd>
        </td>
        <td>
          <kbd>N</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɪ
        </td>
        <td>
          Small capital I
        </td>
        <td>
          
        </td>
        <td class="monospace">
          I
        </td>
        <td>
            <kbd>i</kbd> <kbd>`</kbd>
        </td>
        <td>
          <kbd>I</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɔ
        </td>
        <td>
          Open O
        </td>
        <td>
          
        </td>
        <td class="monospace">
          O
        </td>
        <td>
            <kbd>o</kbd> <kbd>)</kbd>
        </td>
        <td>
          <kbd>O</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ø
        </td>
        <td>
          Slashed O
        </td>
        <td>
          <kbd>o</kbd> <kbd>/</kbd>
        </td>
        <td class="monospace">
          \o
        </td>
        <td>
            <kbd>o</kbd> <kbd>/</kbd>
        </td>
        <td>
          <kbd>2</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          œ
        </td>
        <td>
          O-E ligature
        </td>
        <td>
          <kbd>o</kbd> <kbd>e</kbd>
        </td>
        <td class="monospace">
          \oe
        </td>
        <td>
            <kbd>o</kbd> <kbd>e</kbd>
        </td>
        <td>
          <kbd>9</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɸ
        </td>
        <td>
          Latin phi
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textphiF
        </td>
        <td>
            <kbd>*</kbd> <kbd>u</kbd>
        </td>
        <td>
          <kbd>p\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɹ
        </td>
        <td>
          Turned R
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textturnr
        </td>
        <td>
            <kbd>r</kbd> <kbd>r</kbd>
        </td>
        <td>
          <kbd>r</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ɾ
        </td>
        <td>
          Fishhook R
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textfishhookr
        </td>
        <td>
            <kbd>u</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>4</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʀ
        </td>
        <td>
          Small capital R
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textscr
        </td>
        <td>
            <kbd>r</kbd> <kbd>`</kbd>
        </td>
        <td>
          <kbd>R\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʁ
        </td>
        <td>
          Inverted small capital R
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textinvscr
        </td>
        <td>
            
        </td>
        <td>
          <kbd>R</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          θ
        </td>
        <td>
          Greek theta
        </td>
        <td>
          <kbd>*</kbd> <kbd>h</kbd>
        </td>
        <td class="monospace">
          \texttheta<br/>T
        </td>
        <td>
            <kbd>*</kbd> <kbd>u</kbd>
        </td>
        <td>
          <kbd>T</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʃ
        </td>
        <td>
          Esh
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textesh<br/>S
        </td>
        <td>
            <kbd>s</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>S</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʊ
        </td>
        <td>
          Latin upsilon
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textupsilon<br/>U
        </td>
        <td>
            <kbd>u</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>U</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          χ
        </td>
        <td>
          Greek chi
        </td>
        <td>
          <kbd>*</kbd> <kbd>x</kbd>
        </td>
        <td class="monospace">
          \textchi<br/>X
        </td>
        <td>
            <kbd>*</kbd> <kbd>x</kbd>
        </td>
        <td>
          <kbd>X</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʒ
        </td>
        <td>
          Latin ezh
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textyogh<br/>Z
        </td>
        <td>
            <kbd>z</kbd> <kbd>h</kbd>
        </td>
        <td>
          <kbd>Z</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʔ
        </td>
        <td>
          Glottal stop
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textglotstop<br/>P
        </td>
        <td>
            <kbd>?</kbd> <kbd>.</kbd>
        </td>
        <td>
          <kbd>?</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʕ
        </td>
        <td>
          Reversed glottal stop
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textrevglotstop<br/>Q
        </td>
        <td>
            <kbd>?</kbd> <kbd>(</kbd>
        </td>
        <td>
          <kbd>?</kbd> <kbd>\</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ˠ
        </td>
        <td>
          Superscript gamma
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textsuperscript{\textgamma}
        </td>
        <td>
            
        </td>
        <td>
          <kbd>_</kbd> <kbd>G</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʲ
        </td>
        <td>
          Superscript J
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textsuperscript{j}
        </td>
        <td>
            
        </td>
        <td>
          <kbd>_</kbd> <kbd>j</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ⁿ
        </td>
        <td>
          Superscript N
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textsuperscript{n}
        </td>
        <td>
            <kbd>ⁿ</kbd>
        </td>
        <td>
          <kbd>_</kbd> <kbd>n</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ʷ
        </td>
        <td>
          Superscript W
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textsuperscript{w}
        </td>
        <td>
            <kbd>^</kbd> <kbd>^</kbd> <kbd>w</kbd>
        </td>
        <td>
          <kbd>_</kbd> <kbd>w</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ○̃
        </td>
        <td>
          Tilde
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \~
        </td>
        <td>
            <kbd>\</kbd> <kbd>~</kbd>
        </td>
        <td>
          <kbd>~</kbd>
        </td>
      </tr><tr>
        <td class="ipa">
          ː
        </td>
        <td>
          Length mark
        </td>
        <td>
          
        </td>
        <td class="monospace">
          \textlengthmark<br/>:
        </td>
        <td>
            <kbd>:</kbd> <kbd>+</kbd>
        </td>
        <td>
          <kbd>:</kbd>
        </td>
      </tr></table>