{% set section = '11' %}

<section>
<h3 id="riesz" class="math">{{ section }} Riesz&ndash;Markov&ndash;角谷の表現定理</h3>

<section>
<section>
<h3 id="hahn" class="math">{{ section }}.2 Hahn分解</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">谷島</cite></a> Sec. 8.2
</div>
<p>\((\varOmega,\,\mathcal{F})\)を可測空間とする．\(\mathcal{F}\)上の集合族\((F_n)_{n \in \mathbb{Z}_+}\)で\(i \neq j\)ならば\(F_i \cap F_j = \emptyset\)を満たすようなものを任意にとる．関数\(\mu\colon \mathcal{F} \to \mathbb{R}\)が
\begin{align*}
  \mu \left(\bigcup_{n = 1}^\infty F_n \right) = \sum_{n = 1}^\infty \mu (F_n)
\end{align*}
を満たすならば，\(\mu\)を符号付き測度と呼ぶ．\(\mu(\emptyset) = \mu(\emptyset) + \mu(\emptyset)\)より\(\mu(\emptyset) = 0\)である．</p>
<p>集合\(E^+ \in \mathcal{F}\)が，\(F \subseteq E^+\)を満たす任意の\(F \in \mathcal{F}\)について\(\mu(F) \geq 0\)を満たすとき，\(E^+\)を\(\mu\)-positive集合と呼ぶ．同様に集合\(E^- \in \mathcal{F}\)が，\(F \subseteq E^-\)任意の\(F \in \mathcal{F}\)について\(\mu(F) \leq 0\)を満たすとき，\(E^-\)を\(\mu\)-negative集合と呼ぶ．</p>
<p><strong>証明</strong>
\begin{align*}
  u := \sup \{\mu(E) \mid E \in \mathcal{F},\,E\text{ \(\mu\)-positive}\}
\end{align*}
空集合は\(\mu\)-positiveだから\(u \geq 0\)である．
\begin{align*}
  E^+ = \bigcup_{n = 1}^\infty E_n,\quad E^- = X \setminus E^+
\end{align*}
</p>
</section>

<h3 id="borel-measure" class="math">{{ section }}.1 Borel測度</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">宮島</cite></a> 定義7.53&ndash;定義7.55
</div>
<p>\(\varOmega\)を位相空間とする．\(\varOmega\)の開集合全体\(\mathcal{O}\)によって生成される\(\sigma\)-加法族\(\sigma(\mathcal{O})\)を\(\varOmega\)の<strong>Borel集合族</strong>という．開集合全体を明示せずに\(\mathcal{B}(\varOmega)\)とも書く．</p>
<p>測度空間\((\varOmega,\,\mathcal{B}(\varOmega))\)の測度\(\mu\)を<strong>Borel測度</strong>という．Borel測度\(\mu\)が任意の\(S \in \mathcal{B}(\varOmega)\)について</p>
<ol class="math narrow">
  <li class="capr">\(\mu(S) = \sup \{\mu(K) \mid K \subseteq S,\,K \text{ compact}\}\)</li>
  <li class="capr">\(\mu(S) = \inf \{\mu(O) \mid S \subseteq O,\,O \text{ open}\}\)</li>
</ol>
<p>を満たすとき，\(\mu\)は<strong>正則</strong>(regular)であるという．</p>
</section>


<section>
<h3 id="riesz" class="math">{{ section }}.3 Riesz&ndash;Markov&ndash;角谷の表現定理</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">宮島</cite></a> 定理7.56
</div>
<p>\(X\)をコンパクトHausdorff空間とする．\(C(X)\)の任意の有界線型汎関数\(\varphi\)に対して，\(X\)上の正則な符号付きBorel測度\(\mu\)で
\begin{align}
    \varphi(f) = \int_X f(x)d\mu(x)
\end{align}
が成り立つようなものが一意に存在する．
</p>
</section>

<section>

</section>

</section>
