{% set section = '11' %}

<section>
<h3 id="riesz" class="math">{{ section }} Riesz&ndash;Markov&ndash;角谷の表現定理</h3>

<section>
<h3 id="borel-measure" class="math">{{ section }}.1 Borel測度</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">宮島</cite></a> 定義7.54&ndash;定義7.55
</div>
<p>
</p>
</section>

<section>
<h3 id="riesz" class="math">{{ section }}.2 Riesz&ndash;Markov&ndash;角谷の表現定理</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">宮島</cite></a> 定理7.56
</div>
<p>\(X\)をコンパクトHausdorff空間とする．\(C(X)\)の任意の有界線型汎関数\(\varphi\)に対して，\(X\)上の正則な符号付きBorel測度\(\mu\)で
\begin{align}
    \varphi(f) = \int_X f(x)d\mu(x)
\end{align}
が成り立つようなものが一意に存在する．
</p>
</section>

</section>
