{% set section = '11' %}

<section>
<h3 id="riesz" class="math">{{ section }} Riesz&ndash;Markov&ndash;角谷の表現定理</h3>

<section>
<h3 id="hahn" class="math">{{ section }}.2 Hahn分解</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">谷島</cite></a> Sec. 8.2
</div>
<p>\((\varOmega,\,\mathcal{F})\)を可測空間とする．任意の互いに素な\(\mathcal{F}\)の族\((F_n)_{n \in \mathbb{Z}_+}\)に対して，関数\(\nu\colon \mathcal{F} \to \mathbb{R}\)が
\begin{align*}
  \sum_{n = 1}^\infty \nu(F_n)
\end{align*}
が絶対収束し，\(\sigma\)-加法性と呼ばれる次の性質
\begin{align*}
  \nu \left(\bigcup_{n = 1}^\infty F_n \right) = \sum_{n = 1}^\infty \nu (F_n)
\end{align*}
を満たすとき，\(\nu\)を<span class="math-keyword">有限符号付き測度</span>と呼ぶ．</p>

<p>任意の有限符号付き測度は\(\nu(\emptyset) = 0\)を満たす．これは以下のように確認できる．\(\sigma\)-加法性より
\begin{align*}
\nu(\emptyset)
  = \lim_{n \to \infty} \sum_{k = 1}^n \nu(\emptyset)
  = \lim_{n \to \infty} n\nu(\emptyset)
\end{align*}
が成り立つ．\(\nu(\emptyset) \neq 0\)と仮定すると\(\lim_{n \to \infty} n\nu(\emptyset) = \pm \infty\)となり\(\nu(\emptyset) \in \mathbb{R}\)に矛盾する．よって\(\nu(\emptyset) = 0\)である．</p>

<p>集合\(P \in \mathcal{F}\)が，\(A \subseteq E\)を満たす任意の\(A \in \mathcal{F}\)について\(A \subseteq P\)ならば\(\nu(A) \geq 0\)を満たすとき，\(P\)は<span class="math-keyword">\(\nu\)-positive</span>であるという．同様に集合\(N \in \mathcal{F}\)が，任意の\(A \in \mathcal{F}\)について\(A \subseteq N\)ならば\(\nu(N) \leq 0\)を満たすとき，\(N\)は<span class="math-keyword">\(\nu\)-negative</span>であるという．</p>

<p><strong>命題</strong>\(A \subseteq B\)ならば\(\nu(B \setminus A) = \nu(B) - \nu(A)\)が成り立つ．</p>
<p>\(A\)と\(B \setminus A\)は互いに素で
\begin{gather*}
  \nu(B) = \nu(A) + \nu(B \setminus A) \\
  \nu(B \setminus A) = \nu(B) - \nu(A)
\end{gather*}
</p>

<p><strong>命題</strong>\((A_n)_{n \in \mathbb{Z}_+}\)が\(A_n \uparrow\)ならば
\begin{align*}
  \nu\left(\bigcup_{n = 1}^\infty A_n \right) = \lim_{n \to \infty} \nu\left(A_n\right)
\end{align*}
が成り立ち，\(A_n \downarrow\)ならば
\begin{align*}
  \nu\left(\bigcap_{n = 1}^\infty A_n \right) = \lim_{n \to \infty} \nu\left(A_n\right)
\end{align*}
が成り立つ．
</p>
<p><strong>証明</strong>\(A_0 = \emptyset\)とする．\(A_n\uparrow\)のとき，\(A_1 \setminus A_0 = A_1,\,A_2 \setminus A_1,\,\ldots\)は互いに素なので
\begin{align*}
  \nu\left(\bigcup_{n = 1}^\infty A_n \right)
  &amp; = \nu\left(\bigcup_{n = 1}^\infty A_n \setminus A_{n - 1} \right) \\
  &amp; = \lim_{n \to \infty} \sum_{k = 1}^n \nu(A_k \setminus A_{k - 1}) \\
  &amp; = \lim_{n \to \infty} ((\nu(A_1) - \nu(A_0)) + (\nu(A_2) - \nu(A_1)) + \cdots + (\nu(A_n) - \nu(A_{n - 1}))) \\
  &amp; = \lim_{n \to \infty} \nu(A_n)
\end{align*}
が成り立つ．</p>
<p>
\begin{align*}
  A_1 \setminus \bigcup_{n = 1}^\infty E_n
  &amp;= A_1 \cap \left( X \setminus \left( \bigcup_{n = 1}^\infty E_n \right) \right) \\
  &amp;= A_1 \cap \bigcup_{n = 1}^\infty (X \setminus A_n)  \\
  &amp;= A_1 \cap \bigcup_{n = 1}^\infty (X \setminus (A_1 \setminus A_n) )  \\
  &amp;= A_1 \cap \bigcup_{n = 1}^\infty (X \setminus A_n)  \\
  &amp;= A_1 \cap \left(X \setminus \bigcap_{n = 1}^\infty A_n\right)  \\
  &amp;= \left(A_1 \setminus \bigcap_{n = 1}^\infty A_n\right)  \\
\end{align*}
\(A_n\downarrow\)のとき，\(A_1 \setminus A_n \uparrow\)なので
\begin{align*}
  \nu\left(A_1 \setminus \bigcap_{n = 1}^\infty A_n \right)
  &amp;= \nu(A_1) - \nu\left(\bigcup_{n = 1}^\infty A_n \right) \\
  &amp;= \nu(A_1) - \lim_{n \to \infty} \nu(E_n) \\
  &amp;= \nu(A_1)  \\
  &amp;= \lim_{n \to \infty}(\nu(A_1) - (\nu(A_1) - \nu(A_n)))  \\
  &amp;= \lim_{n \to \infty} \nu(A_n)
\end{align*}
</p>

<p><strong>Hahnの分解定理</strong> \(\nu\)を測度空間\((X,\,\mathcal{F})\)の有限符号付き測度とする．このときそれぞれ\(\nu\)-postiveな\(X^+\)と\(\nu\)-negativeな\(X^-\)で\(X = X^+ \cup X^-\)かつ\(X^+ \cap X^- = \emptyset\)を満たすものが存在する．



<p><strong>補題</strong>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">Doss (1980)</cite></a> L<span style="font-variant: small-caps">emma</span>
</div>
任意の\(A \in \mathcal{F}\)に対して，ある\(\nu\)-positiveな集合\(P\)が存在して\(\nu(E) \leq \nu(P)\)が成り立つ．</p>

<p>
複雑なので論理式で書くと以下のようになる．
\begin{align}
\forall \varepsilon \gt 0\,\exists E \subseteq A\,[\nu(A) \leq \nu(E) \land (\forall B \in \mathcal{F}\, [B \subseteq E \to \nu(B) \gt - \varepsilon])]
\label{doss}
\end{align}
もしこれが成り立たないと仮定すると
\begin{align*}
&amp; \exists \varepsilon \gt 0\,\forall E \subseteq A\,[\nu(A) \gt \nu(E) \lor (\exists B \in \mathcal{F}\, [B \subseteq E \land \nu(B) \leq - \varepsilon])] \\
&amp; \!\,\Longleftrightarrow \exists \varepsilon \gt 0\,\forall E \subseteq A\,[\nu(A) \leq \nu(E) \to (\exists B \in \mathcal{F}\, [B \subseteq E \land \nu(B) \leq - \varepsilon])] \\
\end{align*}
が成り立つ．したがって任意の\(\varepsilon \gt 0\)に対して
\begin{gather*}
B_1 \subset A \land \nu(B_1) \leq -\varepsilon,\,\ldots,\\
B_n \subset A \setminus (B_1 \cup \cdots B_{n - 1}) \land \nu(B_1) \leq -\varepsilon,\,\ldots\\
\end{gather*}
となるような\((B_n)_{n \in \mathbb{Z}_+}\)をとることができる．このとき\((B_n)_{n \in \mathbb{Z}_+}\)は互いに交わらないので
\begin{align*}
\nu\left(\bigcup_{n = 1}^\infty B_n\right) = \lim_{n \to \infty} \sum_{k = 1}^n \nu(B_k) \leq \lim_{n \to \infty} (-n \varepsilon) = -\infty
\end{align*}
となるが，これは最左辺が有限であることと矛盾する．ゆえに\((\ref{doss})\)が成り立つ．\((\ref{doss})\)より任意の\(n \in \mathbb{Z}_+\)に対して
\begin{align*}
  \nu(A) \leq \nu(E_n) \land \forall B \in \mathcal{F}\,\left[B \subseteq E_n \to \nu(B) \gt - \frac{1}{n}\right]
\end{align*}
となるようなものがとれる．\(E_n \searrow \)なので\(P := \bigcap_{n = 1}^\infty E_n\)とすると
\begin{align*}
  \nu(P) = 
\end{align*}
となる．
</p>


<p> \(S := \{\nu(E) \mid E \in \mathcal{F}\}\)とおく．\(\nu(\emptyset) = 0 \in A \)が成り立つので\(A \neq \emptyset\)である．よって上限\(s := \sup S\)が存在する．上限の性質により，任意の\(n \in \mathbb{Z}_+\)に対して，\(\nu\)-positiveな\(A_n \in \mathcal{F}\)で
\begin{align*}
  s - \frac{1}{n} \leq \nu(A_n) \leq s
\end{align*}
が成り立つようなものをとることができる．補題により\(P_n \subset A_n\)で\(\nu(A_n) \leq \nu(P_n)\)となるようなものがとれる．上限の性質より\(\nu(P_n) \leq s\)であるから
\begin{align*}
  s - \frac{1}{n} \leq \nu(P_n) \leq s
\end{align*}
\(X^+=\bigcup_{n = 1}^\infty P_n\)と定義する．\(\mathcal{F}\)の\(\sigma\)-加法性により\(X^+ \in \mathcal{F}\)である．集合族\((E_n)_{n \in \mathbb{Z}_+}\)を
\begin{align*}
  E_n = \begin{cases}
    P_1 &amp; \text{if \(n = 1\)}, \\
    P_n \setminus (P_1 \cup P_2 \cup \cdots P_{n - 1}) &amp; \text{otherwise}
  \end{cases}
\end{align*}
と定義する．このとき各\(n \in \mathbb{Z}_+\)で\(E_n \in \mathcal{F}\)であり，\(i \neq j\)ならば\(E_i \cap E_j = \emptyset\)が成り立つ．また各\(n \in \mathbb{Z}_+\)で\(A_n\subseteq E_n\)であり，\(E_n\)が\(\nu\)-positiveなので\(\nu(A_n) \geq 0\)が成り立つ．したがって
\begin{align*}
  \nu(X^+)  = \nu\left(\bigcup_{n = 1}^\infty E_n \right) = \sum_{n = 1}^\infty \nu(E_n) \geq 0
\end{align*}
であることがわかる．任意の\(E \in X^+\)で
\begin{gather*}
  \nu(X^+) = \nu(E) + \nu(X^+ \setminus E)
\end{gather*}
より\(\nu(X^+) \geq \nu(E_n)\)であるから

\(X^- = X \setminus X^+\)とする．このとき\(X = X^+ \cup X^-\)かつ\(X^+ \cap X^- = \emptyset\)が成り立つ．あとは\(X^-\)が\(\nu\)-negativeであることを示せばよい．
</p>
<p>\(X^-\)が\(\nu\)-negativeでないと仮定する．このときある\(E \in \mathcal{F}\)で\(E \subseteq X^-\)かつ\(\nu(E) \gt 0\)となるようなものが存在する．</p>
</section>

<h3 id="borel-measure" class="math">{{ section }}.1 Borel測度</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">宮島</cite></a> 定義7.53&ndash;定義7.55
</div>
<p>\(\varOmega\)を位相空間とする．\(\varOmega\)の開集合全体\(\mathcal{O}\)によって生成される\(\sigma\)-加法族\(\sigma(\mathcal{O})\)を\(\varOmega\)の<strong>Borel集合族</strong>という．開集合全体を明示せずに\(\mathcal{B}(\varOmega)\)とも書く．</p>
<p>測度空間\((\varOmega,\,\mathcal{B}(\varOmega))\)の測度\(\mu\)を<strong>Borel測度</strong>という．Borel測度\(\mu\)が任意の\(S \in \mathcal{B}(\varOmega)\)について</p>
<ol class="math narrow">
  <li class="capr">\(\mu(S) = \sup \{\mu(K) \mid K \subseteq S,\,K \text{ compact}\}\)</li>
  <li class="capr">\(\mu(S) = \inf \{\mu(O) \mid S \subseteq O,\,O \text{ open}\}\)</li>
</ol>
<p>を満たすとき，\(\mu\)は<strong>正則</strong>(regular)であるという．</p>
</section>

<section>
<h3 id="riesz" class="math">{{ section }}.3 Riesz&ndash;Markov&ndash;角谷の表現定理</h3>
<div class="math-book">
<i class="fa-solid fa-bookmark"></i> <a href="#miyajima"><cite lang="ja">宮島</cite></a> 定理7.56
</div>
<p>\(X\)をコンパクトHausdorff空間とする．\(C(X)\)の任意の有界線型汎関数\(\varphi\)に対して，\(X\)上の正則な符号付きBorel測度\(\mu\)で
\begin{align}
    \varphi(f) = \int_X f(x)d\mu(x)
\end{align}
が成り立つようなものが一意に存在する．
</p>
</section>

<section>

</section>

</section>
