{% set section = '9' %}

<section>
<h3 id="tikhonov" class="math">{{ section}} Tikhonovの定理</h4>

<section>
<h4 id="product-topology" "class="math">{{ section }}.1 直積位相</h4>
</section>

<section>
<h4 id="tikhonov-statement" "class="math">{{ section }}.2 Tikhonovの定理</h4>
<p>位相空間の族\(((\varOmega_\lambda,\,\mathcal{O}_\lambda))_{\lambda \in \varLambda}\)について，各\(\varOmega_\lambda\)がコンパクトならば，直積空間\(\prod_{\lambda \in \varLambda} \varOmega_\lambda\)もまたコンパクトである．</p>
<p>※ Tikhonov (<span class="grammar">ru</span> &#1058;&#1080;&#1093;&#1086;&#1085;&#1086;&#1074;)はTychonoffと転写されることも多い．
</p>
</section>

</section>
