{% extends '_layout/article.html' %}
{% set lang = 'ja' %}
{% set title = 'ScalaからCaboChaを使う' %}
{% set posted = '2016-11-22' %}
{% set modified = '2019-03-17' %}

{% block post %}
<section id="Requirements">
  <h2>事前に必要なもの</h2>
  <ol>
    <li>Scala (2.x)</li>
    <li>sbt (1.x)</li>
    <li>CaboChaのインストールが済んでいること。</li>
  </ol>
</section>

<section id="Java">
  <h2>Javaライブラリのコンパイル</h2>
  <p>CaboChaインストールのときに使ったソースコードが残っていればそれを使ってください。捨ててしまった場合は<a class="uri" href="https://github.com/taku910/cabocha">https://github.com/taku910/cabocha</a>からクローンしてください。</p>
  <p><code>cabocha/java/Makefile</code>の<code>INCLUDE</code>を使っているJavaに合わせて変更します。
  <pre><code class="language-makefile"># INCLUDE=/usr/lib/jvm/default-java/include
INCLUDE=$(HOME)/Development/jdk-11.0.2/include</code></pre>
  </p>
  <p>どのJavaを使っているのかわからない場合は、<code>which java</code>や<code>update-java-alternatives</code>で調べてください。変更が終わったら<code>cabocha/java</code>ディレクトリで<code>make</code>と打ち込んでコンパイルします。</p>
</section>

<section id="Scala">
  <h2>Scalaからの利用例</h2>
  <p>実際にプロジェクトを作成して使ってみることにします。まず、先ほど生成された<code>CaboCha.jar</code>と<code>libCaboCha.so lib</code>をプロジェクトの<code>lib</code>ディレクトリにコピーします。
  <pre class="command-line"><code class="language-bash">sbt new sbt/scala-seed.g8
name [Scala Seed Project]: &lt;project_name&gt;
cd &lt;project_name&gt;
mkdir lib
cp path/to/cabocha/java/CaboCha.jar lib/
cp path/to/cabocha/java/libCaboCha.so lib/</code></pre>
  </p>
  <p><code>&lt;project_name&gt;/src/main/scala/example/Hello.scala</code>を編集します。
  <pre><code class="language-scala">// Hello.scala
package example

object Main extends App {

  val parser = new Parser()
  val s = "太郎は二郎にこの本を渡した．"

  parser.parseToChunks(s).zipWithIndex.foreach { case (c, i) =&gt;
    val dest = c.link
    c.tokens.zipWithIndex.foreach { case (t, _) =&gt;
      println(s"${i}→${dest} ${t.normalizedSurface}")
    }
  }
}</code></pre>
  </p>
  <p><code>&lt;project_name&gt;/src/main/scala/example/CaboChaWrapper.scala</code>を作成します。
  <pre><code class="language-scala">// CaboChaWrapper.scala
package cabochawrapper

import org.chasen.cabocha.{
  Parser =&gt; CaboChaParser,
  Chunk =&gt; CaboChaChunk,
  Tree =&gt; CaboChaTree,
  Token =&gt; CaboChaToken,
  FormatType
}

case class Token(
  surface: String,
  normalizedSurface: String,
  feature: String,
  namedEntity: Option[String],
  additionalInfo: Option[String]
)

case class Chunk(
  score: Float,
  link: Int,
  additionalInfo: Option[String],
  features: Seq[String],
  tokens: Seq[Token]
)

class Parser {

  try {
    System.loadLibrary("CaboCha")
  } catch {
    case _: UnsatisfiedLinkError =&gt; {
      println("Make sure that `CaboCha.jar` and `libCaboCha.so` are in `lib`.")
      System.exit(1)
    }
  }

  val parser = new CaboChaParser()

  def parseToChunks(s: String): Seq[Chunk] = {
    val tree: CaboChaTree = this.parser.parse(s)
    (0.toLong until tree.chunk_size()).map { i =&gt;
      val chunk = tree.chunk(i)
      val features = (0.toLong until chunk.getFeature_list_size()).map { i =&gt;
        chunk.feature_list(i)
      }
      val n = chunk.getToken_pos()
      val N = n + chunk.getToken_size()
      val tokens = (n until N).map { i =&gt;
        tree.token(i).toToken()
      }
      Chunk(score = chunk.getScore(),
            link = chunk.getLink(),
            tokens = tokens,
            additionalInfo = Option(chunk.getAdditional_info()).filter(_ != null),
            features = features)
    }
  }

  implicit class ExtendedCaboChaToken(token: CaboChaToken) {
    def toToken(): Token =
      Token(surface = token.getSurface(),
            normalizedSurface = token.getNormalized_surface(),
            feature = token.getFeature(),
            namedEntity = Option(token.getNe()).filter(_ != null),
            additionalInfo = Option(token.getAdditional_info()).filter(_ != null)
      )
  }
}</code></pre>
  </p>
  <p><code>sbt run</code>で実行します。
  <pre><code class="language-none"># 出力結果
0→4 太郎
0→4 は
1→4 二郎
1→4 に
2→3 この
3→4 本
3→4 を
4→-1 渡し
4→-1 た
4→-1 ．</code></pre>
  </p>
</section>
{% endblock %}
