{% extends '_layout/_article.njk' %}
{% set lang = 'ja' %}
{% set mathematical = 'true' %}
{% set title = '線型回帰における最小二乗法の解のFréchet導関数を用いた導出' %}
{% set posted = '2022-10-07' %}


{% block post %}
<section>
入力が
\(n\)
次元，出力が
\(m\)
次元である多次元の回帰問題を考える．教師データのサイズを
\(N\)
とする．各入出力の組
\((x^i,\,y^i)\)
について
\begin{gather*}
  x^i =
  \begin{pmatrix}
    x^i_1 \\
    \vdots \\
    x^i_n
  \end{pmatrix},
  \quad
  y^i =
  \begin{pmatrix}
    y^i_1 \\
    \vdots \\
    y^i_m
  \end{pmatrix}
\end{gather*}
とし，これらをまとめたものを
\begin{gather*}
  X =
  \begin{pmatrix}
    x^1 &amp;
    \cdots &amp;
    x^N
  \end{pmatrix}
  =
  \begin{pmatrix}
    x^1_1    &amp; \cdots &amp; x^N_1 \\
    \vdots &amp; \ddots &amp; \vdots\\
    x^1_n    &amp; \cdots &amp; x^N_n \\
  \end{pmatrix}, \\
  Y =
  \begin{pmatrix}
    y^1 &amp;
    \cdots &amp;
    y^N
  \end{pmatrix}
  =
  \begin{pmatrix}
    y^1_1  &amp; \cdots &amp; y^N_1 \\
    \vdots &amp; \ddots &amp; \vdots \\
    y^1_m  &amp; \cdots &amp; y^N_m
  \end{pmatrix}
\end{gather*}
と定義する．
回帰係数
\(W \in \mathbb{R}^{m \times n}\)
を
\begin{gather*}
  W =
  \begin{pmatrix}
    w_{11}  &amp; \cdots &amp; w_{1n} \\
    \vdots  &amp; \ddots &amp; \vdots \\
    w_{m1}  &amp; \cdots &amp; w_{mn}
  \end{pmatrix} \\
\end{gather*}
とすると，予測誤差は
\begin{align*}
  f(W) = \frac{1}{2} \| WX - Y \|^2
\end{align*}
と表すことができる．ここで
\(\|\cdot\|\)
はFrobeniusノルムである．</p>
<p>回帰係数を
\(H\)だけ変化させたとき，
\(f\)
の変位は
\begin{align}
  f(W + H) - f(H)
  &amp;= \frac{1}{2}{
    \left\|
      (W + H)X - Y
    \right\|
  }^2
  -
  \frac{1}{2}
  {
    \left\|
      WX - Y
    \right\|
  }^2 \notag \\
  &amp;=
  \frac{1}{2}
  \langle
    WX - Y + HX,\,
    WX - Y + HX
  \rangle
  -
  \frac{1}{2}
  {
    \left\|
      WX - Y
    \right\|
  }^2 \notag \\
  &amp;=
  \frac{1}{2}
  {\| WX - Y \|}^2
  +
  \langle
    WX - Y,\,
    HX
  \rangle
  +
  \frac{1}{2}
  {\|
    HX
  \|}^2
  -
  \frac{1}{2}
  {\|
    WX - Y
  \|}^2 \notag \\
  &amp;=
  \trace (
    (WX - Y) (HX)^\top
  )
  +\frac{1}{2}
  {\|HX\|}^2 \notag \\
  &amp;=
  \trace(
    (WX - Y)X^\top H^\top
  )
  +\frac{1}{2}
  {\|HX\|}^2 \notag \\
  &amp;=
  \langle
    (WX - Y)X^\top,\,
    H
  \rangle
  + \frac{1}{2}{\|HX\|}^2 \label{result}
\end{align}
である．Cauchy&ndash;Schwarzの不等式より\(\|HX\|^2 \leq {\|H\|}^2 {\|X\|}^2 \)
であるから，
任意の正数
\(
\varepsilon
\)
に対して，
\(H\)
を
\(
  \|H\| \leq \displaystyle \frac{\varepsilon}{2 \|X\|^2 + 1}
\)
を満たすように小さくとれば，
\begin{align*}
  \|f(W + H) - f(W) - \langle ( WX - Y)X^\top,\, H \rangle\| \leq \varepsilon \|H\|
\end{align*}
が成り立ち，
\(f\)
の
\(W\)
における任意の微小変化
\(H\)
に対するFréchet導関数が
(\ref{result})
の右辺第1項であることがわかる：
\begin{align*}
  Df(W)(H) = \langle ( WX - Y )X^\top,\, H \rangle.
\end{align*}
したがって最小化するためには
\begin{gather*}
  ( WX - Y )X^\top = 0 \\
  W XX^\top = YX^\top
\end{gather*}
\(XX^\top\)
が正則ならば
\begin{gather*}
  W = Y X^\top (XX^\top)^{-1}.
\end{gather*}
</p>
</section>
{% endblock %}
