{% extends '_layout/_article.njk' %}

{% set lang = 'en' %}
{% set title = 'How to make HTTPS default on Apache HTTP Server (CentOS 7)' %}
{% set posted = '2016-09-17' %}


{% block post %}
<section>
  <ol>
    <li>Install required packages.
      <pre class="command-line" data-user="root" data-host="server"><code class="language-none">yum install epel-release
yum install httpd mod_ssl python-certbot-apache</code></pre>
    </li>
    <li>Start and enable Apache.<pre class="command-line" data-user="root" data-host="server"><code class="language-none">systemctl start httpd
systemctl enable httpd</code></pre>
    </li>
    <li> Allow access via HTTP and HTTPS.<pre class="command-line" data-user="root" data-host="server"><code class="language-none">firewall-cmd --zone=public --permanent --add-service=http
firewall-cmd --zone=public --permanent --add-service=https
firewall-cmd --reload</code></pre>
    </li>
    <li>Edit <code>/etc/httpd/conf/httpd.conf</code>.<pre><code class="language-apacheconf">ServerName &lt;your-domain&gt;</code></pre>
    </li>
    <li>Edit <code>/etc/httpd/conf.d/ssl.conf</code>.<pre><code class="language-apacheconf">SSLCertificateFile /etc/letsencrypt/live/&lt;your-domain&gt;/cert.pem
SSLCertificateKeyFile /etc/letsencrypt/live/&lt;your-domain&gt;/privkey.pem
SSLCertificateChainFile /etc/letsencrypt/live/&lt;your-domain&gt;/chain.pem</code></pre>
    </li>
    <li>Edit <code>/etc/httpd/conf.d/&lt;your-domain&gt;.conf</code><pre><code class="language-apacheconf">&lt;VirtualHost *:80&gt;
Redirect permanent / https://&lt;your-domain&gt;/
&lt;/VirtualHost&gt;</code></pre>
    </li>
    <li>Restart Apache HTTP Server.<pre class="command-line" data-user="root" data-host="server"><code class="language-none">systemctl restart httpd</code></pre>
    </li>
    <li>Install certificate. (Reference: https://certbot.eff.org/all-instructions/#centos-rhel-7-apache)<pre class="command-line" data-user="root" data-host="server"><code class="language-none">certbot --apache -d &lt;your-domain&gt;</code></pre>
    </li>
  </ol>
</section>
{% endblock %}
