{% extends '_layout/_article.njk' %}

{% set lang = 'ja' %}
{% set title = '攻殻機動隊 S.A.C. の OP をロシア語で歌いたい' %}
{% set posted = '2015-04-14' %}
{% set updated = '2019-03-24' %}

{% block post %}
<section>
  <p>攻殻機動隊STAND ALONE COMPLEXのOP
    <em>Inner Universe</em>の歌詞に出てくるロシア語を理解したくて勉強したときのメモです。著作権を侵害することがないように、全文の掲載や、翻訳権の侵害となるような和訳は載せていません。ロシア語は文字以外よくわかっていない状態で書いたので間違いがある可能性は大いにあります。ご了承ください。</p>
  <p>今回、単語の意味や発音を調べるにあたり<strong><a href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page">Wiktionay（英語版）</a>が非常に役に立ちました</strong>。見出し語の形がわからなくても検索できる上、多くの語で語形変化の表が載っているため、初学者にはありがたいサイトです。</p>
</section>
<section>
  <h2>文法用語の略称</h2>
  <p>略称は主に<a href="https://en.wikipedia.org/wiki/List_of_glossing_abbreviations">List of glossing abbreviations</a>に従っています。名詞と動詞の品詞は、性や完了・不完了の表示があればわかるため書いていません。</p>
  {% include 'posts/_include/_abbreviations.njk' %}
</section>
<section>
  <h2>歌詞の内容</h2>
  <h3>1. <span class="russian">Ангелы и демоны кружили надо мной</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-1.njk' %}
  <h3>2. <span class="russian">Разбивали тернии и звёздные пути</span></h3>
  <p>この文には実は問題があって、歌詞カードには上のように表記してあるのですが、実際は<a href="https://cess.hatenablog.com/entries/2007/05/03">「せすにっき  攻殻オープニングその後」</a>に書いてあるように <em>Рассекали тернии и млечные пути</em> と歌っているようです。ここでは後者の単語のみを調べます。</p>
  {% include 'posts/_include/_inner-universe-vocabulary-2.njk' %}
  <h3>3. <span class="russian">Не знает счастья только тот,</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-3.njk' %}
  <h3>4. <span class="russian">Кто его зова понять не смог…</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-4.njk' %}
  <h3>5. <span class="russian">Собой остаться дольше…</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-5.njk' %}
  <h3>6. <span class="russian">Бесконечный бег…</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-6.njk' %}
  <h3>7. <span class="russian">Пока жива я могу стараться на лету не упасть,</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-7.njk' %}
  <h3>8. <span class="russian">Не разучиться мечтать… любить…</span></h3>
  {% include 'posts/_include/_inner-universe-vocabulary-8.njk' %}
</section>
<section id="materials">
  <h2>参考文献</h2>
  <ul>
    <li><em>Inner Universe</em><br/>Origa and Shanti Snyder (2011). 「攻殻機動隊 STAND ALONE COMPLEX O.S.T.+」収録．フライングドッグ.</li>
    <li>Wiktionary<br/><a class="uri" href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page">https://en.wiktionary.org/wiki/Wiktionary:Main_Page</a></li>
    <li><em>The Phonetics of Russian</em><br/> Jones, Daniel and Dennis Ward (2011). Cambridge University Press.</li>
    <li id="cubberley"><em>Russian  A Linguistic Introduction</em><br/>Cubberley, Paul (2002). Cambridge University Press.</li>
    <li>『ロシア語辞典』<br/>木村 彰一・佐藤 純一・森安 達也・栗原 成郎・中村 喜和・桑野 隆・松井 茂雄 (1995)．博友社．</li>
    <li id="uda">『ロシア語文法便覧』<br/>宇多文雄(2009)．東洋書店．</li>
    <li id="kamiyama">『ロシア語音声概説』<br/>神山孝夫(2012)．研究社．</li>
  </ul>
</section>
{% endblock %}
