{% extends 'nunjucks/_layout/_article.njk' %}

{% set lang = 'ja' %}
{% set title = '攻殻機動隊 S.A.C. の OP をロシア語で歌いたい' %}
{% set posted = '2015-04-14' %}
{% set updated = '2025-06-11' %}

{% block post %}
<section>
  <p>攻殻機動隊STAND ALONE COMPLEXのOP
    <em>Inner Universe</em>の歌詞に出てくるロシア語を理解したくて勉強したときのメモです。著作権を侵害することがないように、全文の掲載や、翻訳権の侵害となるような和訳は載せていません。ロシア語は文字以外よくわかっていない状態で書いたので間違いがある可能性は大いにあります。ご了承ください。</p>
  <p>今回、単語の意味や発音を調べるにあたり<strong><a href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page">Wiktionay（英語版）</a>が非常に役に立ちました</strong>。見出し語の形がわからなくても検索できる上、多くの語で語形変化の表が載っているため、初学者にはありがたいサイトです。</p>
</section>
<section>
  <h2>文法用語の略称</h2>
  <p>略称は主に<a href="https://en.wikipedia.org/wiki/List_of_glossing_abbreviations">List of glossing abbreviations</a>に従っています。</p>
  <h2>ラテン文字への転写</h2>
  <p><a href="https://www.translit.site/en">translit.site</a>のGOST R 52290を利用しています。</p>
</section>
<section>
  <h2>歌詞の内容</h2>

<h3>1. <span class="russian">Ангелы и демоны кружили надо мной</span></h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Ангелы</td>
      <td class="russian">и</td>
      <td class="russian">демоны</td>
      <td class="russian">кружили</td>
      <td class="russian">надо</td>
      <td class="russian">мной</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">ˈanɡ<sup>j</sup>ɪl<sup>j</sup>ɨ</td>
      <td class="ipa">i</td>
      <td class="ipa">ˈd<sup>j</sup>emənɨ</td>
      <td class="ipa">krʊˈʒˠɨl<sup>j</sup>ɪ</td>
      <td class="ipa">nədə</td>
      <td class="ipa">mnoj</td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">angel-y</td>
      <td class="romanization">i</td>
      <td class="romanization">demon-y</td>
      <td class="romanization">kruzhi-li</td>
      <td class="romanization">nado</td>
      <td class="romanization">mnoy</td>
    </tr>
    <tr>
      <th>説明</th>
      <!-- <td>天使-<span class="grammar">pl.nom</span></td> -->
      <td>angel-<span class="grammar">pl.nom</span></td>
      <!-- <td>と</td> -->
      <td>and</td>
      <!-- <td>悪魔-<span class="grammar">pl.nom</span></td> -->
      <td>demon-<span class="grammar">pl.nom</span></td>
      <!-- <td>旋回する.<span class="grammar">impf</span>-<span class="grammar">pl.past</span></td> -->
      <td>circle.<span class="grammar">impf</span>-<span class="grammar">pl.past</span></td>
      <!-- <td>～の上で</td> -->
      <td>above</td>
      <td><span class="grammar">1sg.instr</span></td>
    </tr>
  </table>
</div>

<h3>2. <span class="russian">Разбивали тернии и звёздные пути</span></h3>
<div class="interlinear-gloss">
<p>歌詞カードには<span class="russian">Разбивали тернии и звёздные пути</span>ように表記してあるのですが、実際は<a href="https://cess.hatenablog.com/entries/2007/05/03">「せすにっき  攻殻オープニングその後」</a>に書いてあるように<span class="russian">Разбивали тернии и звёздные пути</span>と歌っているようです。</p>
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Рассекали</td>
      <td class="russian">тернии</td>
      <td class="russian">и</td>
      <td class="russian">млечные</td>
      <td class="russian">пути</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">rəs<sup>j</sup>ːɪˈkal<sup>j</sup>ɪ</td>
      <td class="ipa">ˈt<sup>j</sup>ern<sup>j</sup>ɪjɪ</td>
      <td class="ipa">i</td>
      <td class="ipa">ˈml<sup>j</sup>et&#860;ɕnɨjə</td>
      <td class="ipa">pʊˈt<sup>j</sup>i</td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">rasseka-li</td>
      <td class="romanization">terni-i</td>
      <td class="romanization">i</td>
      <td class="romanization">mlechn-yye</td>
      <td class="romanization">put-i</td>
    </tr>
    <tr>
      <th>説明</th>
      <!-- <td>（水・波などを）切り裂く<span class="grammar">.pf</span>-<span class="grammar">pl.past</span></td> -->
      <td>cut<span class="grammar">.pf</span>-<span class="grammar">pl.past</span></td>
      <!-- <td>棘-<span class="grammar">pl.acc</span></td> -->
      <td>thorn-<span class="grammar">pl.acc</span></td>
      <!-- <td>と</td> -->
      <td>and</td>
      <!-- <td>乳状の-<span class="grammar">pl.acc</span></td> -->
      <td>milky-<span class="grammar">pl.acc</span></td>
      <!-- <td>道-<span class="grammar">pl.acc</span></td> -->
      <td>way-<span class="grammar">pl.acc</span></td>
    </tr>
  </table>
  <p>※<span class="russian">млечный путь</span> 天の川</p>
  <p>ここで現れる<span class="russian">тернии</span>について、当初はWiktionaryの記述だけを見て<span>терние</span>の処格だと思っていました。
  しかし、そうだと仮定するとрассекатьの目的語は対格であること、また基本的に<span class="russian">и</span>で結ばれたものは格が揃うことと矛盾してしまいます。
  そこでもう少し情報の多い辞書<a href="https://gramota.ru/meta/ternie" target="_blank">Грамота.ру</a>を参照したところ、以下のような記述がありました。</p>
  <div lang="ru">
    <blockquote class="quotation">
    <h3>те́рние</h3>
    Существительное, средний род, 2-е склонение
    <ol>
      <li>те́рния, -ниев. Всякое колючее растение.<br>
        <em class="italic gold">Придорожное терние. Венец из терниев.</em>
      <li>те́рнии, -ний. Страдания, трудности, невзгоды.<br>
        <em class="italic gold">Без терний и звёзд не достать. Мне достаются лишь терния жизни. Сколько терниев на артистическом поприще! *От века из терний поэта заветный венок.</em> <span class="text-muted">(Брюсов)</span><br>
        <em class="italic gold">*Через тернии к звёздам. (через трудности к заветной цели).</em>
      </li>
    </ol>
    </blockquote>
  </div>
  <p>これを見ると<span class="russian">тернии</span>は比喩的に「困難」などを表す語で、例えば<span class="ru">фантазия</span>の複数形<span>фантазии</span>と同じような活用の仕方をすることがわかりました。
  したがって<span class="russian">тернии</span>は対格であり、矛盾していないことが確認できました。</p>
</div>

<h3>3. <span class="russian">Не знает счастья только тот,</span></h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Не</td>
      <td class="russian">знает</td>
      <td class="russian">счастья</td>
      <td class="russian">только</td>
      <td class="russian">тот,</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">n<sup>j</sup>ɪ</td>
      <td class="ipa">ˈznajɪt</td>
      <td class="ipa">ˈɕːæs<sup>j</sup>t<sup>j</sup>jə</td>
      <td class="ipa">ˈtol<sup>j</sup>kə</td>
      <td class="ipa">tot</td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">ne</td>
      <td class="romanization">znayet</td>
      <td class="romanization">schast'-ya</td></td>
      <td class="romanization">tol'ko</td>
      <td class="romanization">tot</td>
    </tr>
    <tr>
      <th>説明</th>
      <td><span class="grammar">neg</span></td>
      <!-- <td>知る.<span class="grammar">impf</span>-<span class="grammar">3sg.pres</span></td> -->
      <td>know.<span class="grammar">impf</span>-<span class="grammar">3sg.pres</span></td>
      <!-- <td>幸福-<span class="grammar">sg.gen</span></td> -->
      <td>happiness-<span class="grammar">sg.gen</span></td>
      <!-- <td>だけ</td> -->
      <td>only</td>
      <!-- <td>その人<span class="grammar">.m.sg.nom</span></td> -->
      <td>the_one<span class="grammar">.m.sg.nom</span></td>
    </tr>
  </table>
  <p>
  <span class="russian">счастье</span>が属格になっています。
  文法書を見ると、否定される他動詞の補語は属格になるということが書いてありました(宇多 2009, p. 102)。なお、この否定される他動詞の補語に属格を用いる決まりですが、20世紀初め以降は、一部で対格が許容されるようになっていて、今では共存している状況らしいです。
  </p>
  <p>«сч»は[ɕː]という発音が一般的のようです<a href="#kamiyama">(神山 2012, p. 130)</a>．また語末の無アクセントの«я»と«е»は通常同じように発音されるものの、格を明示させようとする場合にはアクセント母音に準じた発音が行われることもあるらしいです<a href="#kamiyama">(同書, p. 105)</a>。</p>
</div>

<h3>4. <span class="russian">Кто его зова понять не смог…</span></h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Кто</td>
      <td class="russian">его</td>
      <td class="russian">зова</td>
      <td class="russian">понять</td>
      <td class="russian">не</td>
      <td class="russian">смог</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">kto</td>
      <td class="ipa">jɪˈvo</td>
      <td class="ipa">ˈzovə</td>
      <td class="ipa">pɐˈn<sup>j</sup>æt<sup>j</sup></td>
      <td class="ipa">n<sup>j</sup>ɪ</td>
      <td class="ipa">smok</td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">kto</td>
      <td class="romanization">ego</td>
      <td class="romanization">zov-a</td>
      <td class="romanization">ponyat'</td>
      <td class="romanization">ne</td>
      <td class="romanization">smog</td>
    </tr>
    <tr>
      <th>説明</th>
      <!-- <td>～する人</td> -->
      <td>who</td>
      <!-- <td>それ<span class="grammar">.poss</span></td> -->
      <td>he<span class="grammar">.poss</span></td>
      <!-- <td>呼び声-<span class="grammar">gen</span></td> -->
      <td>call-<span class="grammar">gen</span></td>
      <!-- <td>理解する.<span class="grammar">pf.inf</span></td> -->
      <td>understand.<span class="grammar">pf.inf</span></td>
      <td><span class="grammar">neg</span></td>
      <!-- <td>できる.<span class="grammar">pf.m.sg.past</span></td> -->
      <td>can.<span class="grammar">pf.m.sg.past</span></td>
    </tr>
  </table>
  <p>ここでも否定される他動詞の補語が属格になっています。</p>
</div>

<h3>5. Собой остаться дольше…</h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Собой</td>
      <td class="russian">остаться</td>
      <td class="russian">дольше</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">sɐˈboj</td>
      <td class="ipa">ɐˈstat&#860;sə</td>
      <td class="ipa">ˈdol<sup>j</sup>ʃ<sup>ɣ</sup>ɨ</td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">soboy</td>
      <td class="romanization">ostat'sya</td>
      <td class="romanization">dol-'she</td>
    </tr>
    <tr>
      <th>説明</th>
      <!-- <td>自身<span class="grammar">.instr</span></td> -->
      <td>oneself<span class="grammar">.instr</span></td>
      <!-- <td>留まる<span class="grammar">.pf.inf</span></td> -->
      <td>remain<span class="grammar">.pf.inf</span></td>
      <!-- <td>長い-<span class="grammar">adv.cmpar</span></td> -->
      <td>long-<span class="grammar">adv.cmpar</span></td>
    </tr>
  </table>
  <p>コピュラや、英語で言うところの“become”や“remain”（semi copulative verbsと呼ぶ）は具格を補語に取る<a href="#cubberley">(Cubberley, 2002, p. 207)</a>。</p>
</div>

<h3>6. <span class="russian">Бесконечный бег…</span></h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">бесконечный</td>
      <td class="russian">бег</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">b<sup>j</sup>ɪskɐˈn<sup>j</sup>et&#860;ɕnɨj</td>
      <td class="ipa">ˈb<sup>j</sup>ek</td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">beskonechn-yy</td>
      <td class="romanization">beg</td>
    </tr>
    <tr>
      <th>説明</th>
      <!-- <td>終わりのない-<span class="grammar">m.sg.nom</span></td> -->
      <td>endless-<span class="grammar">m.sg.nom</span></td>
      <!-- <td>走ること-<span class="grammar">.m.sg.nom</span></td> -->
      <td>running-<span class="grammar">.m.sg.nom</span></td>
    </tr>
  </table>
</div>

<h3>7. <span class="russian">Пока жива я могу стараться на лету не упасть,</span></h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Пока</td>
      <td class="russian">жива</td>
      <td class="russian">я</td>
      <td class="russian">могу</td>
      <td class="russian">стараться</td>
      <td class="russian">на</td>
      <td class="russian">лету</td>
      <td class="russian">не</td>
      <td class="russian">упасть</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">pɐˈka</td>
      <td class="ipa">ʒ<sup>ɣ</sup>ɨˈva</td>
      <td class="ipa">ja</td>
      <td class="ipa">mɐˈɡu</td>
      <td class="ipa">stɐˈrat͡sːə</td>
      <td class="ipa">nə</td>
      <td class="ipa">l<sup>j</sup>ɪˈtu</td>
      <td class="ipa">n<sup>j</sup>e</td>
      <td class="ipa">ʊˈpas<sup>j</sup>t<sup>j</sup></td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">poka</td>
      <td class="romanization">zhiv-a</td>
      <td class="romanization">ya</td>
      <td class="romanization">mo-gu</td>
      <td class="romanization">starat'sya</td>
      <td class="romanization">na</td>
      <td class="romanization">let-u</td>
      <td class="romanization">ne</td>
      <td class="romanization">upast'</td>
    </tr>
    <tr>
      <th>説明</th>
      <!-- <td>～する間</td> -->
      <td>while</td>
      <!-- <td>生きている-<span class="grammar">f.sg</span></td> -->
      <td>alive-<span class="grammar">f.sg</span></td>
      <td><span class="grammar">1sg.nom</span></td>
      <!-- <td>できる<span class="grammar">.impf.1sg.pres</span></td> -->
      <td>can<span class="grammar">.impf.1sg.pres</span></td>
      <!-- <td>努力する<span class="grammar">.inf</span></td> -->
      <td>make_an_effort<span class="grammar">.inf</span></td>
      <!-- <td>上で</td> -->
      <td>on</td>
      <!-- <td>飛行-<span class="grammar">loc</span></td> -->
      <td>flight-<span class="grammar">loc</span></td>
      <td><span class="grammar">neg</span></td>
      <!-- <td>落ちる-<span class="grammar">.pf.inf</span></td> -->
      <td>fall-<span class="grammar">.pf.inf</span></td>
    </tr>
  </table>
  <p>※на лету 飛行中に</p>
</div>

<h3>8. <span class="russian">Не разучиться мечтать… любить…</span></h3>
<div class="interlinear-gloss">
  <table class="table table-borderless">
    <tr>
      <th>歌詞</th>
      <td class="russian">Не</td>
      <td class="russian">разучиться</td>
      <td class="russian">мечтать…</td>
      <td class="russian">любить…</td>
    </tr>
    <tr>
      <th>読み</th>
      <td class="ipa">n<sup>j</sup>e</span>
      <td class="ipa">rəzʊˈt&#860;ɕit&#860;sːə</td>
      <td class="ipa">m<sup>j</sup>ɪt&#860;ɕˈtat<sup>j</sup></td>
      <td class="ipa">l<sup>j</sup>ʊˈb<sup>j</sup>it<sup>j</sup></td>
    </tr>
    <tr>
      <th>転写</th>
      <td class="romanization">ne</td>
      <td class="romanization">razuchit'sya</td>
      <td class="romanization">mechtat'</td>
      <td class="romanization">lyubit'</td>
    </tr>
    <tr>
      <th>説明</th>
      <td><span class="grammar">neg</span></td></td>
      <!-- <td>～できなくなる<span class="grammar">.pf.inf</span></td> -->
      <td>unlearn<span class="grammar">.pf.inf</span></td>
      <!-- <td>夢を見る<span class="grammar">.inf</span></td> -->
      <td>dream<span class="grammar">.inf</span></td>
      <!-- <td>愛する<span class="grammar">.inf</span></td> -->
      <td>love<span class="grammar">.inf</span></td>
    </tr>
  </table>
</div>

</section>
<section id="materials">
  <h2>参考文献</h2>
  <ul>
    <li><em>Inner Universe</em><br/>Origa and Shanti Snyder (2011). 「攻殻機動隊 STAND ALONE COMPLEX O.S.T.+」収録．フライングドッグ.</li>
    <li>Wiktionary<br/><a class="uri" href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page">https://en.wiktionary.org/wiki/Wiktionary:Main_Page</a></li>
    <li><em>The Phonetics of Russian</em><br/> Jones, Daniel and Dennis Ward (2011). Cambridge University Press.</li>
    <li id="cubberley"><em>Russian  A Linguistic Introduction</em><br/>Cubberley, Paul (2002). Cambridge University Press.</li>
    <li>『ロシア語辞典』<br/>木村 彰一・佐藤 純一・森安 達也・栗原 成郎・中村 喜和・桑野 隆・松井 茂雄 (1995)．博友社．</li>
    <li id="uda">『ロシア語文法便覧』<br/>宇多文雄(2009)．東洋書店．</li>
    <li id="kamiyama">『ロシア語音声概説』<br/>神山孝夫(2012)．研究社．</li>
  </ul>
</section>
{% endblock %}
