{% extends '_layout/_article.njk' %}
{% set lang = 'ja' %}
{% set mathematical = 'true' %}
{% set title = 'ニューラルネットのレイヤーの初期化' %}
{% set posted = '2022-09-21' %}

{% block post %}
<section>
<p>a</p>
各\(w_{ji} x_i\)が独立であるから
\begin{align}
  V\parentheses{u^{(\ell + 1)}}
    &amp;= V \parentheses{
      \sum_{i = 1}^{n(\ell)} w_{ji} x_i
    } \\
    &amp;= \sum_{i = 1}^{n(\ell)} V \parentheses{
      w_{ji} x_i
    } \\
\end{align}
一般に\(V(XY) = V(X)E(Y) + E(X)V(Y) + V(X)V(Y)\)が成り立つことと、
各\(i, j\)について\(E(w_{ji}) = 0,\ E(x_i) = 0\)が成り立つことから
\begin{align}
  V\parentheses{u^{(\ell + 1)}}
    &amp;= \sum_{i = 1}^{n(\ell)} V(w_{ji}) V(x_i)
\end{align}
各
\(w_{j1},\,\ldots,\,w_{jn(\ell)}\)
が同じ分布に従うので
\(w := V(w_{j1}) = \cdots = V(w_{jn(\ell)}),\ x = V(x_1) = \cdots = V(x_n)\)
として
\begin{align}
  V\parentheses{u^{(\ell + 1)}}
    &amp;= n(\ell) wx
\end{align}
\(V(u^{\ell + 1}) \approx V(x^{i})\)

<p>
一様分布
\(X \sim \mathcal{U}(-a,\, a)\)
\begin{align}
  P(\{\omega \in \varOmega \mid X(\omega) \leq x\}) =
  \begin{cases}
    0                                   &amp; \text{if \(x \in [-\infty, a),\)} \\[3pt]
    {\displaystyle \frac{x - a}{b - a}} &amp; \text{if \(x \in [a, b),\)} \\[3pt]
    1                                   &amp; \text{if \(x \in [b, \infty].\)} \\
  \end{cases}
\end{align}
\begin{align}
  V(X) = \int_{-\infty} \parentheses{x - \frac{a + b}{2}}^2 dP
\end{align}
</p>
</section>
{% endblock %}
