{% extends 'nunjucks/_layout/_article.njk' %}
{% set lang = 'ja' %}
{% set mathematical = 'true' %}
{% set title = '確率過程 勉強ノート（書きかけ）' %}
{% set posted = '2023-05-05' %}

{% block post %}
<section>
<section>
<h5 style="font-weight: bold;">例（コイントス）</h5>
<p>コインを1度だけ投げる試行において，表が出る根源事象を\(\mathrm{H}\) (head)，コインの裏が出る根源事象を\(\mathrm{T}\) (tail)で表す．このとき標本空間は\(\varOmega = \{\mathrm{H},\,\mathrm{T}\}\)である．標本空間の\(\sigma\)-加法族として\(\mathcal{F} := \wp(\varOmega) = \{\emptyset, \{\mathrm{H}\}, \{\mathrm{T}\}, \{\mathrm{H},\, \mathrm{T}\}\}\)をとる．状態空間は\((S,\, \mathcal{G}) = (\varOmega,\, \mathcal{F})\)とする．確率変数\(X\colon \varOmega \to S\)は恒等関数とする．確率測度は\(P = P(\{\mathrm{H}\}) = P(\{\mathrm{T}\}) = 1 / 2\)とする．以上はコインを1度だけ投げる試行のモデルになっている．
</p>
</section>
<section>
<h5 style="font-weight: bold;">例（有限回連続コイントス）</h5>
<p><span class="head">\(I = \{1,\,2,\,\ldots,\,n\}\)</span>とする．\(i \in I\)回目の試行の標本空間を\(\varOmega_i = \{\mathrm{H},\,\mathrm{T}\}\)とする．
\begin{align*}
  \varOmega^T
  &amp;:= \prod_{i \in I} \varOmega_i \\
  &amp;= \varOmega_1 \times \cdots \times \varOmega_n \\
  &amp;= \{(\omega_1,\,\ldots,\,\omega_n) \mid \text{\(\omega_i \in \varOmega_i\) for all \(i \in I\)} \}
\end{align*}
となる．各\(\varOmega_i\)の\(\sigma\)-<ruby>代数<rt>アルジェブラ</rt></ruby>として\(\mathcal{F}_i := \wp (\varOmega_i) = \{\emptyset,\,\{\mathrm{H}\},\, \{\mathrm{T}\},\, \{\mathrm{H},\, \mathrm{T}\}\}\)をとるのが自然である．このとき\(n\)回の試行全体の\(\sigma\)-<ruby>代数<rt>アルジェブラ</rt></ruby>は
\begin{align*}
\mathcal{F}_i = \sigma [\{F_1 \times \cdots \times F_n \mid \text{\(F_i \in \mathcal{F}_i\) for all \(i \in T\)}\}]
\end{align*}
をとることができる．
</p>
</section>
<section>
<h5 style="font-weight: bold;">直積</h5>
<p>任意の集合\(I\)で添え字付けられた測度空間の族\((\varOmega,\,\mathcal{F}_i)_{i \in I}\)を考える．\((\varOmega_i)_{i \in I}\)の直積は
\begin{align*}
  \varOmega^I
  = \prod_{i \in I} \varOmega_i
  = \{(\omega_i)_{i \in I} \mid \text{\(\omega_i \in \varOmega_i\) for all \(i \in I\)} \}
\end{align*}
である．\(\varOmega^I\)の\(\sigma\)-加法族としては
\begin{align*}
  \sigma [\{F_1 \times F_2 \times \cdots \mid F_1 \in \mathcal{F}_1,\,F_2 \in \mathcal{F}_2,\,\ldots\}]
\end{align*}
のようなものを考えればよさそうである．これをもう少し正確に記述する．任意の\(n \in \mathbb{Z}_+ = \{1,\,2,\,\ldots\}\)に対し
\begin{align*}
  J_n = \{(t_1,\,\ldots,\,t_n) \mid t_i\in I\text{ for } i \in \{1,\,\ldots,\,n\},\,t_i \neq t_j\text{ if }i\neq j \}
\end{align*}
と定義し，\((t_1,\,\ldots,\,t_n) \in J_n\)をとる．このとき任意の\(F_{t_1} \times \cdots \times F_{t_n} \in \mathcal{F}_{t_1} \otimes \cdots \otimes \mathcal{F}_{t_n}\)について，\(F_{t_1} \times \cdots \times F_{t_n}\)を底とする<h5 style="font-weight: bold;">シリンダー集合</h5>\(\mathrm{Cyl}\,(F_{t_1} \times \cdots F_{t_n})\)を
\begin{align*}
  \mathrm{Cyl}\,(F_{t_1} \times \cdots \times F_{t_n}) &amp;:= \{
    (\omega_i)_{i \in I} \mid
    \omega_i \in \varOmega_i\text{ for all }i \in I,\,
    \omega_{t_1} \in F_{t_1},\,\ldots,\,\omega_{t_n} \in F_{t_n}
  \}
\end{align*}
と定義する．また\(\mathcal{F}_{t_1} \otimes \cdots \otimes \mathcal{F}_{t_n}\)に対して
\begin{align*}
  \mathrm{Cyl}\,(\mathcal{F}_{t_1} \otimes \cdots \otimes \mathcal{F}_{t_n}) =
  \bigcup_{F_{t_1} \times \cdots \times F_{t_n} \in \mathcal{F}_{t_1} \otimes \cdots \otimes \mathcal{F}_{t_n}}
  \mathrm{Cyl}\,(F_{t_1} \times \cdots \times F_{t_n})
\end{align*}
と定義する．このとき
\begin{align*}
\bigotimes_{i \in I} \mathcal{F}_i := \sigma
  \left[
  \bigcup_{n \in \mathbb{Z}_+}
  \bigcup_{(t_1,\,\ldots,\,t_n) \in J_n}
    \mathrm{Cyl}\,(\mathcal{F}_{t_1} \otimes \cdots \otimes \mathcal{F}_{t_n})
  \right]
\end{align*}
は\(\varOmega^I\)の\(\sigma\)-加法族である．
</p>
</section>
<section>
<h5 style="font-weight: bold;">例（加算無限回連続コイントス）</h5>
<p>加算無限回のコイントスにおいて，\(i\,(\in \mathbb{Z}_+)\)回目のコイントスの標本空間を\(\varOmega_i = \wp(\varOmega_i) = \{\emptyset,\, \{\mathrm{H}\},\, \{\mathrm{T}\},\,\{\mathrm{H},\,\mathrm{T}\}\}\)とする．このとき試行全体の標本空間は
\begin{align*}
  \varOmega^{\mathbb{Z}_+}
  &amp;= \prod_{i \in \mathbb{Z}_+} \varOmega_i \\
  &amp;= \varOmega_1 \times \varOmega_2 \times \cdots \\
  &amp;= \{(\omega_i)_{i \in I} \mid \text{\(\omega_i \in \varOmega_i\) for all \(i \in I\)} \}
\end{align*}
となる．各\(\varOmega_i\)の\(\sigma\)-<ruby>代数<rt>アルジェブラ</rt></ruby>としては\(\mathcal{F}_i := \wp (\varOmega_i) = \{\emptyset,\,\{\mathrm{H}\},\, \{\mathrm{T}\},\, \{\mathrm{H},\, \mathrm{T}\}\}\)をとる．例えば
\begin{align*}
  F_1 \times F_2 = \{\mathrm{\omega_1 \in \varOmega_1 \mid \omega_1 = H}\} \times \{\omega_2 \in \varOmega_2 \mid \omega_2 = \mathrm{T}\} \in \mathcal{F}_1 \otimes \mathcal{F}_2
\end{align*}
を底とするシリンダー集合は
\begin{align*}
  \mathrm{Cyl}\,(F_1 \times F_2)
  &amp;= \{ (\omega_1,\,\omega_2,\, \ldots) \mid \omega_1 \in F_1,\, \omega_2 \in F_2,\,\omega_i \in \varOmega_i \text{ for all }i \geq 3 \} \\
  &amp;= F_1 \times F_2 \times \varOmega_3 \times \varOmega_4 \times \cdots \\
  &amp;= \{ (\mathrm{H},\,\mathrm{T},\,\ldots),\,(\mathrm{H},\,\mathrm{T},\,\ldots),\,\ldots \}
\end{align*}
となる．</p>
</section>
<section>
<h5 style="font-weight: bold;">Kolmogorovの拡張定理</h5>
<p class="bib">See Chapter 4 in <a href="#erhan">Erhan (2011)</a> and Chapter 10 in <a href="bhattacharya">Bhattacharya and Waymire (2016)</a></p>
<p></p>
<ol>
  <li class="c"></li>
</ol>
</section>
<section id="materials">
  <h2>参考文献</h2>
  <ol class="citation">
  <li id="erhan"><a href="https://link.springer.com/book/10.1007/978-0-387-87859-1">Erhan &Ccedil;&#x131;nlar (2011) <em>Probability and Stochastics</em>. Springer New York.</a></li>
  <li id="bhattacharya"><a href="https://link.springer.com/book/10.1007/978-3-319-47974-3">Rabi Bhattacharya and Edward C. Waymire (2016)<em>A Basic Course in Probability Theory</em>. Springer New York.</a></li>
</ol>
</section>
{% endblock %}
