{% extends '_layout/_article.njk' %}

{% set lang = 'ja' %}
{% set title = 'Markdown → LaTeXで単語帳' %}
{% set posted = '2015-09-16' %}
{% set modified = '2019-03-26' %}

{% block post %}
<section>
  <p>単語帳を作る作業は簡略化したいものの、ラテン文字以外の文字を正確に表示してくれる環境はなかなかないものです。そこでLaTeXの機能で表示を頑張りつつ、単語のリストの作成はMarkdownで簡略化するという方法で作成することにしました。依存するツールが増えるとインストールが大変なので、PandocとTeX Live、そして表示したい言語のフォント以外は準備しなくても大丈夫な方法を考えてみました。以下は中国語、ロシア語、アラビア語の単語で実際に作ってみた例です。</p>
  <figure>
      <figcaption>単語帳の例</figcaption>
      <div class="pseudocode">
        <img src="/static/images/words.svg" style="background-color: white; padding: 20px; min-width: 100%;" />
      </div>
  </figure>
  <p>文法用語の省略記法は<a href="https://en.wikipedia.org/wiki/List_of_glossing_abbreviations"><em>List of glossing abbreviations</em></a>を使っています。</p>
</section>
<section>
    <h2>1. フォントの取得</h2>
    <p>単語帳を作成したい言語や発音記号で使われている文字を含むフォントを持っているか確認します。Windowsの場合は<kbd>Win</kbd> + <code>fonts</code>で、Linuxの場合は<code>fc-list</code>コマンドでインストール済みのフォントの一覧が表示されます。</p>
    <p>多くの文字を含み、かつ入手しやすいフォントとして以下のようなものがあります。
        <ul>
            <li><a href="https://www.gnu.org/software/freefont/">GNU FreeFont</a></li>
            <li><a href="https://www.google.com/get/noto/">Google Noto Fonts</a></li>
            <li><a href="https://bboxtype.com/typefaces/FiraGO/#!layout=specimen">FiraGo</a></li>
        </ul>
    </p>
    <p>発音記号用のフォントとしては以下が入手しやすいです。
        <ul>
            <li><a href="https://software.sil.org/doulos/download/">Doulos SIL</a></li>
            <li><a href="https://fonts.google.com/specimen/Judson">Judson</a></li>
            <li><a href="https://fonts.google.com/specimen/Voces">Voces</a></li>
        </ul>
    </p>
</section>
<section>
    <h2>2. テンプレートの作成</h2>
    <p>各言語に対応したフォントが自動で割り当てられるようにbabelなどのパッケージの設定を書いたテンプレートを準備しておきます。これを<code>vocabulary.tex</code>などの名前で保存します。
        <figure>
            <pre><code class="language-latex"></code></pre>
        </figure>
    </p>
    <p>次にPandocの「フィルター」と呼ばれるものを書きます。これを使ってMarkdownからLaTeXに変換する方法を指定し、少しでも入力が楽になるようにします。ここでは頻繁に入力するスモールキャピタルはアンダースコア2つ<code>__</code>で入力できるようにしました。またロシア語アルファベットが使われている部分は、自動でロシア語とマークアップされるようにしました。
        <figure>
            <pre><code class="language-lua"></code></pre>
        </figure>
    </p>
</section>
<section>
    <h2>3. 単語のリスト作成</h2>
    <p>Markdown形式で単語のリストを書いていきます。テキストエディタを使い、以下のような単語のリストを作って<code>words.md</code>のような名前で保存します。アラビア文字の入力の仕方は<a href="https://pecorarista.com/posts/arabluatex.html">「LaTeXでRTL（右横書き）の文書をつくる」</a>を、発音記号の入力の仕方は<a href="https://pecorarista.com/posts/type-ipa.html"><em>How to type phonetic symbols</em></a>をご参照ください。
        <figure>
            <pre><code class="language-markdown"></code></pre>
        </figure>
    </p>
    <p>タイプセットする際にLuaLaTeXを使いたいので<code>latexmkrc</code>を作ります。
        <figure>
            <pre><code class="language-perl"></code></pre>
        </figure>
    </p>
    <p>以下のコマンドを実行して最終的にPDFファイルを得ます。
        <pre class="command-line"><code class="language-bash">pandoc --from=markdown --to=latex \
  --template=vocabulary.tex --lua-filter=filter.lua \
  --standalone --output=words.tex words.md
latexmk words.tex</code></pre>
    </p>
</section>
{% endblock %}
