extends ../../templates/article

block variables
  - var title = 'LaTeX (Beamer)で学会発表用のポスターを作る'
  - var posted = '2015-08-24'
  - var modified = '2019-03-25'

block body
  p 初めて学会の発表で使うポスターを作るにあたり、分からないことが多かったため、調べたり試行錯誤した内容についてまとめておこうと思います。
  p
    | まず、どのツールを使うかですが、周りの数人に聞いたところ全員が
    a(href='https://products.office.com/ja-jp/powerpoint', target='_blank') PowerPoint
    |  を使っているようでした。なので私もPowerPointを使るつもりだったのですが、以前に
  ul
    li テストエビデンスのスクショをエクセルに貼り付ける作業
    li Office のバージョンアップによってレイアウトが崩れたファイルをいじる作業
  p
    | などを行っていたため、MS Officeを使うことに抵抗があったため、LaTeX (Beamer)で作ることにしました。
  section
    h2 1. どんな感じになるのか
    p
      | デザインのセンス次第でいくらでも綺麗なものは作れると思いますが以下のような感じのものが作れます。
      .centered-image
        img.img-responsive(src='/static/images/complex-poster.svg')
    p
      | 印刷の向きに関しては
      code beamerposter
      | のオプションで
    ul
      li
        | 横
        code orientation=landscape
      li
        | 縦
        code orientation=portrait
    p
      | で指定することができます。
      figure
        figcaption 上のポスターのコード
        pre
          code.language-latex
            include ../../latex/complex-poster.tex
  section
    h2 2. インストール
    p
      | 今回使用するのは
      code beamerposter
      |  というパッケージです。これは TeX Live に収録されているので TeX Live を使って環境を構築している場合はすぐに使うことができます。ただ、最初のうちはどうやって作ったらいいのかわからないので
      a(href='https://github.com/deselaers/latex-beamerposter') beamerposter
      | の
      code examples
      | を見ながら作るのがいいと思います。
    h3(id='とりあえずタイプセット') 3. とりあえずタイプセット
    p
      | 以下のようなコードを
      code simple-poster.tex
      | のような名前で保存してください。 LuaLaTeX でタイプセットすることを想定しています（これも TeX Live なら入っています。）。
      pre
        code.language-latex
          include ../../latex/simple-poster.tex
    p
      code beamerthemeSimplePoster.sty
      | という名前で以下の内容を現在作業しているディレクトリに保存してください。
      pre
        code.language-latex
          include ../../latex/beamerthemeSimplePoster.sty
    p
      | これらのファイルがある場所で
      code latexmk -lualatex poster.tex
      |  コマンドを実行すると以下のような PDF ができあがります。
      .centered-image
        img.img-responsive(src='/static/images/simple-poster.svg')
      | あとは色を変更したり、中身を追加していくだけです。
