li
  span.russian= surface
  span.wider 
  span.pronunciation= pronunciation
  span.wider
  span.translation= translation
  span.wider 
  span.grammar
    if pos == 'noun'
      = animacy
  span.wider â† 
