nav.navbar.navbar-expand-lg.navbar-dark
  .container
    .navbar-header.pull-left
      a.navbar-brand(href='/') pecorarista.com
    .navbar-header.pull-right
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(href='/resources.html') Resources
