script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/bootstrap.native@2.0.15/dist/bootstrap-native-v4.min.js')
script(src='/static/js/prism.js')
script(src='/static/js/prism-bash.min.js')
script(src='/static/js/prism-latex.min.js')
script(src='/static/js/prism-makefile.min.js')
script(src='/static/js/prism-java.min.js')
script(src='/static/js/prism-scala.min.js')
script(src='/static/js/prism-markdown.min.js')
script(src='/static/js/prism-apacheconf.min.js')
script(src='/static/js/prism-perl.min.js')
script(src='/static/js/prism-haskell.min.js')
script(src='/static/js/prism-lua.min.js')
script(src='/static/js/prism-command-line.min.js')
script.
  (function(d) {
    var config = {
      kitId: 'huy3ylo',
        scriptTimeout: 3000,
          async: true
          },
          h = d.documentElement,
          t = setTimeout(function() {
            h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
      h.className += " wf-loading";
      tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
      tk.async = true;
      tk.onload = tk.onreadystatechange = function() {
        a = this.readyState;
          if (f || a && a != "complete" && a != "loaded")
            return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config)
          } catch (e) {
          }
      };
      s.parentNode.insertBefore(tk, s)
  })(document);
script(type='text/javascript', src='/static/js/main.js')
